@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <center><h1>Event Planner</h1></center>
    <p>Welcome to the best events website you will ever see on the <b>World Wide Web,</b> here you will
    find all the necassarily and up to date information regarding your favourite events such as racing, soccer, rugby,
    you name it! Even if your not a sports fan we cater the <b>Geek Culture</b> too with our information regarding the Rage Expo
    where it caters all your gaming needs. For further information click on the links below.</p>
</div>

<body>
    <h1 id="eventHeader">Events</h1>
    <div id="wrap-images">
        <div class="eventimages" >
           <button id="image1"type ="button"onclick="location.href='@Url.Action("SportsReviews","Home")'"style="background-color:grey"><img src="~/Images/SPORT_front.jpg" id="sportimage1" alt="sprt" style="height:200px;width:200px"></button> 
        </div>

        <div id="image2"class="eventimages">
            <button type="button"onclick="location.href='@Url.Action("MotorSportsReviews","Home")'" style="background-color:grey"><img src="~/Images/car_cover.jpg" id="sportimage2" alt="car"style="height:300px;width:300px"></button>
        </div>

        <div id="image3"class="eventimages">
            <button type="button"onclick="location.href='@Url.Action("RageExpoReviews","Home")'"style="background-color:grey"><img src="~/Images/rAge.jpg" id="sportimage3" alt="rage"style="height:300px;width:500px"></button>
        </div>
    </div>
</body>