@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rAge Cosplays</title>
</head>
<body>
    <div>
        <center>Welcome Back rAge GES Cosplay Compition!</center>
    </div>

    <center><h2>Cosplay?</h2></center>
    <p>
        Cosplay is a combination of the words <b>COSTUME</b> and <b>PLAY</b> where it allows poeple live out
        there wildest dreams by dressing up as their favourite characters from movies, anime, cartoons, comics and
        of course Video Games.
        It first started in America back in 1939 at the 1st World Science Fiction Convention but probably more
        well-known for Japanese sub culture links. Throughout the years cosplay has increased in popularity
        around the world and among all fandoms leading to huge participation at a lot of popular conventions such as
        Comic Con and rAge Expo. There was also an award-winning documantary known as <b><i>Cosplay Univerese</i></b>
        (available on all digital platforms) that digs deep in this global phenomenom that shows off the wonderful world of
        cosplay. Its not just dress up its an art form.
    </p>
    <br />

    <center><h2>Why Join?</h2></center>
    <p>
        Over the past decade cosplay has grown to huge proportions here in South Africa and around the world.
        The compitition will be fierce, where even some costumes will be pure Fantasy Art where you will be
        Shocked and stare in wonder seeing so many beautiful creations with so much <b>Heart and Soul</b> put
        into them. Back in 2020 a cosplayer from Cape Town known as <b>Ludus Cosplay</b> took the award for
        best in show for his take on the famous feline Puss in Boots at our rAge Expo Digital Edition. Now we
        are happy to announce that it is back in 2022, "There's plenty to look forward to and I can tell you from
        personal experience that nothing beats seeing your favourite fictional characters come to life!" says
        the Project Director of rAge, Micheal James.
    </p>
    <br />
    <p>
        Jade Bayes, GES Head of Cosplay stated "The rAge Expo cosplay scene holds a special place within
        the community as it's many famous South African cosplayers like <b>Kinpatsu Cospaly</b> and <b>
            Jinxie
            Cosplay
        </b> won their first cosplay compititions and also where a lot of people were first introduced
        to cosplay back when cosplayers used to hold informal compitions to the massive cosplay compititions
        of 50 plus entries, cosplay at rAge has gone from strength to stregnth."
    </p>
    <br />

    <center><h2>Festive Cosplay</h2></center>
    <p>
        After this long break we have a more rfined compitition where now added a <b>Festive Cosplay</b> edition.
        Now cosplayers can dress up as any festive character such as the Ambitious Elf Jinx or even their own take on
        a festive character. We look forward to seeing people creative juices flowing again!
        Compitition is open to all cosplayers from first-time novices to long-time masters, <b>ALL ARE WELCOME</b>
        and we graciously accept all cosplays from armour to needlework try your luck and see.
    </p>
    <br />

    <p>
        Entries are now open until 30 November 2022.
        "We look forward to seeing evryone in person again and remember that cosplay is for everyone!" Bayes said.
    </p>
    <br />

    <center><h1>Cosplay</h1></center>
    <img src="~/Images/ciri2.jpg" alt="ciri" style="height:200px;width:300px">
    <img src="~/Images/costume2.jpg" alt="cos" style="height:200px;width:300px">
    <img src="~/Images/roadhog.jpg" alt="hog" style="height:200px;width:300px">
    <img src="~/Images/cop2.jpg" alt="cop" style="height:200px;width:300px">
    <img src="~/Images/hero2.jpg" alt="hero" style="height:200px;width:300px">
    <img src="~/Images/mk2.jpg" alt="kombat" style="height:200px;width:300px">
    <img src="~/Images/anime2.jpg" alt="cartoon" style="height:200px;width:300px">
    <img src="~/Images/harley2.jpg" alt="villain" style="height:200px;width:300px">
</body>
</html>
