
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=opera" />
    <meta http-equiv="X-UA-Compatible" content="IE=brave" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta http-equiv="X-UA-Compatible" content="IE=moz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    @Styles.Render("~/Content/Sport_Cricket")
</head>
<body>
    <div id="wrap-content">
        <div id="wrap-heading-intro">
            <div id="wrap-heading-Cricket">
                <h1 id="Cricket-heading">Cricket's History, its rules, gear and popularity across the globe</h1>
            </div>
        </div>
        <div id="wrap-Cricket-History-Content">
            <div id="Cricket-history-Content">
                <div>
                    <h2 id="heading">History of Cricket</h2>
                    <h3 id="heading-women">
                        Additional: <a href="#Womens-Cricket-History">Women's Cricket History</a>
                    </h3>
                </div>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/First_Grand_Match_of_Cricket_Played_by_Members_of_the_Royal_Amateur_Society_on_Hampton_Court_Green,_..._-_Google_Art_Project.jpg"
                             alt="First Grand Match of Cricket Played by Members of the Royal
                            Amateur Society" />
                        <figcaption>
                            First Grand Match of Cricket Played by Members of the Royal
                            Amateur Society on Hampton Court Green, August 3rd, 1836
                        </figcaption>
                    </figure>
                </div>

                <p>
                    The sport of cricket has a known history begining from the 16th Century.
                    Cricket originated in wouth-east England, it became an established sport
                    in the 18th Century and developed globally in the 19th and 20th Centuries.
                    The international matches have been played sinc ethe 19th Century and
                    formal test cricket matches are considered to date from 1877.
                    Cricket is the world's second most popular spectator after assosiastion
                    (Soccer).
                </p>

                <p>
                    Internationally, cricket is governed by the International Cricket Council(ICC),
                    which has over one hundred countries and territories in membership although
                    only twelve currently play Test Cricket.
                </p>

                <p>
                    The game's rules are defined in the "Laws of cricket". The game has various
                    formats, ranging from  one-day cricket played over a few hours to Test matches
                    which can last up to five days.
                </p>

                <div>
                    <h3>Early Cricket</h3>
                </div>
                <p id="indent-paragraph">
                    Main article: History of cricket to 1725
                </p>
                <div>
                    <h3>Origin</h3>
                </div>
                <p>
                    Cricket was created during Saxon or Norman times by children living in the
                    Weald, an area of dense woodlands and clearings in south-east England that
                    lies across Kent and Sussex. The first definite written reference is from
                    the end of the 16th century.
                </p>
                <p>
                    There have been several speculations about the game's origins, including
                    some that it was created in France or Flanders. The earliest of these
                    speculative references is from 1300 and concerns the future King Edward
                    II playing at "creag and other games" in both Westminster and Newenden.
                    It has been suggested that "creag" was an Old English word for cricket,
                    but expert opinion is that it was an early spelling of "craic", meaning
                    "fun and games in general".
                </p>

                <p>
                    It is generally believed that cricket survived as a children's game for
                    many generations before it was increasingly taken up by adults around
                    the beginning of the 17th century. Possibly cricket was derived from
                    bowls, assuming bowls is the older sport, by the intervention of a
                    batsman trying to stop the ball from reaching its target by hitting
                    it away. Playing on sheep-grazed land or in clearings, the original
                    implements may have been a matted lump of sheep's wool (or even a stone
                    or a small lump of wood) as the ball; a stick or a crook or another
                    farm tool as the bat; and a stool or a tree stump or a gate (e.g., a
                    wicket gate) as the wicket.
                </p>

                <div>
                    <h3>First definite reference</h3>
                </div>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/250px-RGS_old_building.jpg"
                             alt="John Derrick was a pupil at the Royal Grammar School, then the
                             Free School, in Guildford when he and his friends
                             played creckett circa 1550" />
                        <figcaption>
                            John Derrick was a pupil at the Royal Grammar School, then the Free School,
                            in Guildford when he and his friends played creckett circa 1550
                        </figcaption>
                    </figure>
                </div>

                <p>
                    In 1597 (Old Style – 1598 New Style) a court case in England concerning
                    an ownership dispute over a plot of common land in Guildford, Surrey,
                    mentions the game of creckett. A 59-year-old coroner, John Derrick,
                    testified that he and his school friends had played creckett on the
                    site fifty years earlier when they attended the Free School. Derrick's
                    account proves beyond reasonable doubt that the game was being played
                    in Surrey circa 1550, and is the earliest universally accepted reference
                    to the game.
                </p>

                <p>
                    The first reference to cricket being played as an adult sport was in 1611,
                    when two men in Sussex were prosecuted for playing cricket on Sunday
                    instead of going to church. In the same year, a dictionary defined cricket
                    as a boys' game, and this suggests that adult participation was a recent
                    development.
                </p>

                <div>
                    <h3>Derivation of the name of "cricket"</h3>
                </div>

                <p>
                    A number of words are thought to be possible sources for the term "cricket".
                    In the earliest definite reference, it was spelled creckett. The name may
                    have been derived from the Middle Dutch krick(-e), meaning a stick; or
                    the Old English cricc or cryce meaning a crutch or staff, or the French
                    word criquet meaning a wooden post. The Middle Dutch word krickstoel means
                    a long low stool used for kneeling in church; this resembled the long low
                    wicket with two stumps used in early cricket. According to Heiner Gillmeister,
                    a European language expert of the University of Bonn, "cricket" derives from
                    the Middle Dutch phrase for hockey, met de (krik ket)sen (i.e., "with the
                    stick chase").
                </p>

                <p>
                    It is more likely that the terminology of cricket was based on words in use in
                    south-east England at the time and, given trade connections with the County
                    of Flanders, especially in the 15th century when it belonged to the Duchy of
                    Burgundy, many Middle Dutch words found their way into southern English
                    dialects.
                </p>

                <div>
                    <h3>The Commonwealth</h3>
                </div>

                <p>
                    After the Civil War ended in 1648, the new Puritan government clamped down on
                    "unlawful assemblies", in particular the more raucous sports such as football.
                    Their laws also demanded a stricter observance of the Sabbath than there had
                    been previously. As the Sabbath was the only free time available to the lower
                    classes, cricket's popularity may have waned during the Commonwealth. However,
                    it did flourish in public fee-paying schools such as Winchester and St Paul's.
                    There is no actual evidence that Oliver Cromwell's regime banned cricket
                    specifically and there are references to it during the interregnum that suggest
                    it was acceptable to the authorities provided that it did not cause any "breach
                    of the Sabbath". It is believed that the nobility in general adopted cricket at
                    this time through involvement in village games.
                </p>

                <div>
                    <h3>Gambling and press coverage</h3>
                </div>

                <p>
                    Cricket thrived after the Restoration in 1660 and is believed to have first
                    attracted gamblers making large bets at this time. It is possible, as believed
                    by some historians, that top-class matches began. In 1664, the "Cavalier"
                    Parliament passed the Gaming Act 1664 which limited stakes to £100, although
                    that was still a fortune at the time, equivalent to about £16,000 in present-day
                    terms. Cricket had become a significant gambling sport by the end of the 17th century, 
                    as evidenced in 1697 by a newspaper report of a "great match" played in Sussex which was 
                    11-a-side and played for high stakes of 50 guineas a side.
                </p>

                <p>
                    With freedom of the press having been granted in 1696, cricket for the first time
                    could be reported in the newspapers. But it was a long time before the newspaper
                    industry adapted sufficiently to provide frequent, let alone comprehensive,
                    coverage of the game. During the first half of the 18th century, press reports
                    tended to focus on the betting rather than on the play.
                </p>

                <div>
                    <h2>18th-century cricket</h2>
                </div>
                <p id="indent-paragraph">
                    Main articles: History of cricket to 1725, History of cricket (1726–1750),
                    History of cricket (1751–1775), and History of cricket (1776–1800)
                </p>
                <div>
                    <h3>Patronage and players</h3>
                </div>

                <p>
                    Gambling introduced the first patrons because some of the gamblers decided to
                    strengthen their bets by forming their own teams and it is believed the first
                    "county teams" were formed in the aftermath of the Restoration in 1660,
                    especially as members of the nobility were employing "local experts" from
                    village cricket as the earliest professionals. The first known game in which
                    the teams use county names is in 1709 but there can be little doubt that these
                    sort of fixtures were being arranged long before that. The match in 1697 was
                    probably Sussex versus another county.
                </p>

                <p>
                    The most notable of the early patrons were a group of aristocrats and businessmen
                    who were active from about 1725, which is the time that press coverage became
                    more regular, perhaps as a result of the patrons' influence. These men included
                    the 2nd Duke of Richmond, Sir William Gage, Alan Brodrick and Edwin Stead.
                    For the first time, the press mentions individual players like Thomas Waymark.
                </p>

                <div>
                    <h3>Cricket expands beyond England</h3>
                </div>

                <p>
                    Cricket was introduced to North America via the English colonies in the 17th
                    century, probably before it had even reached the north of England. In the 18th
                    century it arrived in other parts of the globe. It was introduced to the West
                    Indies by colonists and to India by East India Company mariners in the first
                    half of the century. It arrived in Australia almost as soon as colonisation
                    began in 1788. New Zealand and South Africa followed in the early years of the
                    19th century.
                </p>

                <p>
                    Cricket never caught on in Canada, despite efforts by the upper class to promote
                    the game as a way of identifying with the "mother country". Canada, unlike
                    Australia and the West Indies, witnessed a continual decline in the popularity
                    of the game during 1860 to 1960. Linked in the public consciousness to an
                    upper-class sport, the game never became popular with the general public. In
                    the summer season it had to compete with baseball. During the First World War,
                    Canadian units stationed in France played baseball instead of cricket.
                </p>

                <div>
                    <h3>Development of the Laws</h3>
                </div>

                <p>
                    It's not clear when the basic rules of cricket such as bat and ball, the wicket,
                    pitch dimensions, overs, how out, etc. were originally formulated. In 1728, the
                    Duke of Richmond and Alan Brodick drew up Articles of Agreement to determine the
                    code of practice in a particular game and this became a common feature, especially
                    around payment of stake money and distributing the winnings given the importance
                    of gambling.
                </p>

                <p>
                    In 1744, the Laws of Cricket were codified for the first time and then amended in
                    1774, when innovations such as lbw, middle stump and maximum bat width were added.
                    These laws stated that "the principals shall choose from amongst the gentlemen
                    present two umpires who shall absolutely decide all disputes".
                    The codes were drawn up by the so-called "Star and Garter Club" whose members
                    ultimately founded the Marylebone Cricket Club at Lord's in 1787. The MCC
                    immediately became the custodian of the Laws and has made periodic revisions and
                    recodifications subsequently.
                </p>

                <div>
                    <h3>Continued growth in England</h3>
                </div>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/200px-Historical_cricket_bat_art.jpg"
                             alt="An artwork depicting the history of the cricket bat" />
                        <figcaption>
                            An artwork depicting the history of the cricket bat
                        </figcaption>
                    </figure>
                </div>

                <p>
                    The game continued to spread throughout England, and, in 1751, Yorkshire is first
                    mentioned as a venue. The original form of bowling (i.e., rolling the ball along
                    the ground as in bowls) was superseded sometime after 1760 when bowlers began to
                    pitch the ball and study variations in line, length and pace. Scorecards began to
                    be kept on a regular basis from 1772; since then, an increasingly clear picture
                    has emerged of the sport's development.
                </p>

                <p>
                    The first famous clubs were London and Dartford in the early 18th century. London
                    played its matches on the Artillery Ground, which still exists. Others followed,
                    particularly Slindon in Sussex, which was backed by the Duke of Richmond and
                    featured the star player Richard Newland. There were other prominent clubs at
                    Maidenhead, Hornchurch, Maidstone, Sevenoaks, Bromley, Addington, Hadlow and
                    Chertsey.
                </p>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/Broadhalfpennydown_-_2.jpg" alt="Broadhalfpenny Down, the location of the first First Class match
                             in 1772 is still played on today" />
                        <figcaption>
                            Broadhalfpenny Down, the location of the first First Class match in 1772
                            is still played on today
                        </figcaption>
                    </figure>
                </div>

                <p>
                    But far and away the most famous of the early clubs was Hambledon in Hampshire.
                    It started as a parish organisation that first achieved prominence in 1756.
                    The club itself was founded in the 1760s and was well patronised to the extent
                    that it was the focal point of the game for about thirty years until the formation
                    of MCC and the opening of Lord's Cricket Ground in 1787. Hambledon produced several
                    outstanding players including the master batsman John Small and the first great fast
                    bowler Thomas Brett. Their most notable opponent was the Chertsey and Surrey bowler
                    Edward "Lumpy" Stevens, who is believed to have been the main proponent of the
                    flighted delivery.
                </p>


                <p>
                    It was in answer to the flighted, or pitched, delivery that the straight bat was
                    introduced. The old "hockey stick"–style of bat was only really effective against
                    the ball being trundled or skimmed along the ground.
                </p>
                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/A_Game_of_Cricket_(The_Royal_Academy_Club_in_Marylebone_Fields,_now_Regent's_Park)_-_Google_Art_Project.jpg"
                             alt="A Game of Cricket at The Royal Academy Club in Marylebone Fields,
                             now Regent's Park, depiction by unknown artist, c. 1790–1799" />
                        <figcaption>
                            A Game of Cricket at The Royal Academy Club in Marylebone Fields, now Regent's
                            Park, depiction by unknown artist, c. 1790–1799
                        </figcaption>
                    </figure>
                </div>

                <p>
                    First-class cricket began in 1772. Three surviving scorecards exist of 1772 matches
                    organised by the Hambledon Club which commence a continuous statistical record.
                    Those three matches were all between a Hampshire XI and an England XI, the first
                    played at Broadhalfpenny Down on 24 and 25 June. The two leading online archives
                    begin their first-class coverage with this match which is numbered "first-class
                    no. 1" by ESPNcricinfo and "f1" by CricketArchive. Broadhalfpenny Down continued
                    in regular use by Hambledon/Hampshire teams until 1781.
                </p>

                <div>
                    <h2>19th-century cricket</h2>
                </div>

                <p id="indent-paragraph">
                    Main articles: History of cricket (1801–1825), History of English cricket (1826–1845),
                    and History of English cricket (1846–1863)
                </p>
                <p>
                    The game also underwent a fundamental change of organisation with the formation for
                    the first time of county clubs. All the modern county clubs, starting with Sussex
                    in 1839, were founded during the 19th century. No sooner had the first county clubs
                    established themselves than they faced what amounted to "player action" as William
                    Clarke created the travelling All-England Eleven in 1846.
                </p>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/220px-Plainpalais-1817.jpg"
                             alt="View of Geneva's Plaine de Plainpalais with cricketers, 1817" />
                        <figcaption>
                            View of Geneva's Plaine de Plainpalais with cricketers, 1817
                        </figcaption>
                    </figure>
                </div>

                <p>
                    Though a commercial venture, this team did much to popularise the game in districts
                    which had never previously been visited by high-class cricketers. Other similar teams
                    were created and this vogue lasted for about thirty years. But the counties and MCC
                    prevailed.
                </p>

                <p>
                    The growth of cricket in the mid and late 19th century was assisted by the development
                    of the railway network. For the first time, teams from a long distance apart could
                    play one other without a prohibitively time-consuming journey.
                </p>

                <p>
                    Spectators could travel longer distances to matches, increasing the size of crowds.
                    Army units around the Empire had time on their hands, and encouraged the locals so
                    they could have some entertaining competition. Most of the Empire embraced cricket,
                    with the exception of Canada.
                </p>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/220px-Darnall_cricket_ground.jpg" alt="A cricket match at Darnall, Sheffield in the 1820s." />
                        <figcaption>
                            A cricket match at Darnall, Sheffield in the 1820s.
                        </figcaption>
                    </figure>
                </div>

                <p>
                    In 1864, another bowling revolution resulted in the legalisation of overarm and
                    in the same year Wisden Cricketers' Almanack was first published. W. G. Grace
                    began his long and influential career at this time, his feats doing much to
                    increase cricket's popularity. He introduced technical innovations which
                    revolutionised the game, particularly in batting.
                </p>

                <div>
                    <h3>International cricket begins</h3>
                </div>

                <p>
                    The first ever international cricket game was between the US and Canada in 1844.
                    The match was played at the grounds of the St George's Cricket Club in New York.
                </p>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/220px-England_in_North_America_1859.jpg"
                             alt="The English team 1859 on their way to the US" />
                        <figcaption>
                            The English team 1859 on their way to the US
                        </figcaption>
                    </figure>
                </div>

                <p>
                    In 1859, a team of leading English professionals set off to North America on the
                    first-ever overseas tour and, in 1862, the first English team toured Australia.
                    Between May and October 1868, a team of Aboriginal Australians toured England in
                    what was the first Australian cricket team to travel overseas.
                </p>

                <p>
                    In 1877, an England touring team in Australia played two matches against full
                    Australian XIs that are now regarded as the inaugural Test matches. The following
                    year, the Australians toured England for the first time and the success of this
                    tour ensured a popular demand for similar ventures in future. No Tests were played
                    in 1878 but more soon followed and, at The Oval in 1882, the Australian victory
                    in a tense finish gave rise to The Ashes. South Africa became the third Test
                    nation in 1889.
                </p>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/220px-1878AusTeamNiagraFalls.jpg"
                             alt="The first Australian touring team (1878) pictured at Niagara Falls" />
                        <figcaption>
                            The first Australian touring team (1878) pictured at Niagara Falls
                        </figcaption>
                    </figure>
                </div>

                <div>
                    <h3>National championships</h3>
                </div>

                <p>
                    A significant development in domestic cricket occurred in 1890 when the official
                    County Championship was constituted in England. Soon afterwards, in May 1894, the
                    sport's first-class standard was officially defined. This organisational initiative
                    has been repeated in other countries. Australia established the Sheffield Shield
                    in 1892–93. Other national competitions to be established were the Currie Cup in
                    South Africa, the Plunket Shield in New Zealand and the Ranji Trophy in India.
                    The ICC re-defined first-class status in 1947 as a global concept.
                </p>

                <p>
                    The period from 1890 to the outbreak of the First World War has become one of
                    nostalgia, ostensibly because the teams played cricket according to "the spirit
                    of the game", but more realistically because it was a peacetime period that was
                    shattered by the First World War. The era has been called The Golden Age of
                    cricket and it featured numerous great names such as Grace, Wilfred Rhodes, C. B.
                    Fry, Ranjitsinhji and Victor Trumper.
                </p>

                <div>
                    <h3>Balls per over</h3>
                </div>

                <p>
                    During most of the 19th-century standard overs were made up of four deliveries.
                    In 1889 five-ball overs were introduced in first-class cricket, with a move to
                    generally use six-ball overs in 1900.
                </p>

                <p>
                    In the 20th century, eight-ball overs were used at times in a number of countries,
                    primarily Australia, where eight-balls were the standard over length between
                    1918/19 and 1978/79, South Africa and New Zealand. Since the 1979/80 Australian
                    and New Zealand seasons, six balls per over have been used worldwide, and the most
                    recent version of the Laws only permits six-ball overs.
                </p>

                <div>
                    <h2>20th-century cricket</h2>
                </div>

                <div>
                    <h3>Growth of international cricket</h3>
                </div>

                <div class="images-Cricket-History">
                    <figure>
                        <img src="~/Images/Cricket/220px-Sid_Barnes_traps_Armanath,_MCG,_February_1948.jpg"
                             alt="Sid Barnes traps Lala Amarnath lbw in the first official Test between
                             Australia and India at the MCG in 1948" />
                        <figcaption>
                            Sid Barnes traps Lala Amarnath lbw in the first official Test between Australia
                            and India at the MCG in 1948
                        </figcaption>
                    </figure>
                </div>

                <p>
                    The game of cricket was exported to other colonies around the world. The Imperial
                    Cricket Conference was founded in 1909 with England, Australia and South Africa as
                    the founder members. It had been set up with the Marylebone Cricket club, the
                    Australian Board of Control for International Cricket, and the South African Cricket
                    Association as the original associations of the ICC. This aimed to regulate
                    international cricket between the three sides, considered the only three of equal
                    status at the time. In 1926, both New Zealand and the West Indies were admitted
                    as members, allowing them to play Test cricket against the other sides. However, at
                    this time in the West Indies, cricket was primarily dominated by the white population.
                    Originally, the ICC was not interested in broadening the international popularity of
                    cricket. The organization was reluctant to invite non-commonwealth nations to
                    play. New Zealand was restricted to play three-day test matches. New Zealand and
                    India both became Test playing nations before World War II and Pakistan joined
                    soon afterwards in 1952.
                </p>

                <p>
                    At the initial suggestion of Pakistan, the ICC was expanded to include non-Test
                    playing countries from 1965, with Associate members being admitted. At the same
                    time the organisation changed its name to the International Cricket Conference.
                    The first limited-overs World Cups were played during the 1970s and Sri Lanka
                    became the first Associate member to be raised to Test playing status in 1982.
                    Because the ICC was predominantly a Western organization, the founding
                    countries decided who was allowed to join the conference or engage in test
                    cricket. There was no desire or attempt to create a set of Associate nations
                    that would play in Test status, which is why countries such as Sri Lanka were
                    not permitted to partake until the 1980s.
                </p>

                <p>
                    The international game continued to grow with the introduction of Affiliate Member
                    status in 1984, a level of membership designed for sides with less history of
                    playing cricket. In 1989 the ICC renamed itself the International Cricket
                    Council. Zimbabwe became Full Members in 1992 and Bangladesh in 2000 before
                    Afghanistan and Ireland were both admitted as Test sides in 2018, bringing
                    the number of full members of the ICC to 12.
                </p>

                <div>
                    <h3>Suspension of South Africa (1970–1991)</h3>
                </div>

                <p>
                    The greatest crisis to hit international cricket was brought about by apartheid,
                    the South African policy of racial segregation. The situation began to
                    crystallise after 1961 when South Africa left the Commonwealth of Nations and
                    so, under the rules of the day, its cricket board had to leave the International
                    Cricket Conference (ICC). Cricket's opposition to apartheid intensified in 1968
                    with the cancellation of England's tour to South Africa by the South African
                    authorities, due to the inclusion in the England team of Basil D'Oliveira,
                    a Cape Coloured player. In 1970, the ICC members voted to suspend South Africa
                    indefinitely from international cricket competition.
                </p>

                <p>
                    Starved of top-level competition for its best players, the South African Cricket
                    Board began funding so-called "rebel tours", offering large sums of money for
                    international players to form teams and tour South Africa. The ICC's response
                    was to blacklist any rebel players who agreed to tour South Africa, banning
                    them from officially sanctioned international cricket. As players were poorly
                    remunerated during the 1970s, several accepted the offer to tour South Africa,
                    particularly players getting towards the end of their careers for which a
                    blacklisting would have little effect.
                </p>

                <p>
                    The rebel tours continued into the 1980s but then progress was made in South African
                    politics and it became clear that apartheid was ending. South Africa, now a
                    "Rainbow Nation" under Nelson Mandela, was welcomed back into international sport
                    in 1991.
                </p>

                <div>
                    <h3>World Series Cricket</h3>
                </div>

                <p>
                    The money problems of top cricketers were also the root cause of another cricketing
                    crisis that arose in 1977 when the Australian media magnate Kerry Packer fell out with
                    the Australian Cricket Board over TV rights. Taking advantage of the low
                    remuneration paid to players, Packer retaliated by signing several of the
                    best players in the world to a privately run cricket league outside the
                    structure of international cricket. World Series Cricket hired some of the banned
                    South African players and allowed them to show off their skills in an international
                    arena against other world-class players. The schism lasted only until 1979 and the
                    "rebel" players were allowed back into established international cricket, though
                    many found that their national teams had moved on without them. Long-term results
                    of World Series Cricket have included the introduction of significantly higher
                    player salaries and innovations such as coloured kit and night games.
                </p>

                <div>
                    <h3>Limited-overs cricket</h3>
                </div>

                <p>
                    In the 1960s, English county teams began playing a version of cricket with games of
                    only one innings each and a maximum number of overs per innings. Starting in 1963
                    as a knockout competition only, limited-overs cricket grew in popularity and, in
                    1969, a national league was created which consequently caused a reduction in the
                    number of matches in the County Championship. The status of limited overs matches
                    is governed by the official List A categorisation. Although many "traditional"
                    cricket fans objected to the shorter form of the game, limited-overs cricket did
                    have the advantage of delivering a result to spectators within a single day; it
                    did improve cricket's appeal to younger or busier people; and it did prove
                    commercially successful.
                </p>

                <p>
                    The first limited-overs international match took place at Melbourne Cricket Ground
                    in 1971 as a time-filler after a Test match had been abandoned because of heavy
                    rain on the opening days. It was tried simply as an experiment and to give the
                    players some exercise, but turned out to be immensely popular. limited-overs
                    internationals (LOIs or ODIs—one-day internationals) have since grown to become
                    a massively popular form of the game, especially for busy people who want to be
                    able to see a whole match. The International Cricket Council reacted to this
                    development by organising the first Cricket World Cup in England in 1975, with
                    all the Test-playing nations taking part.
                </p>

                <div>
                    <h3>Analytic and graphic technology</h3>
                </div>
                <p>
                    Limited-overs cricket increased television ratings for cricket coverage. Innovative
                    techniques introduced in coverage of limited-over matches were soon adopted for
                    Test coverage. The innovations included presentation of in-depth statistics
                    and graphical analysis, placing miniature cameras in the stumps, multiple usage
                    of cameras to provide shots from several locations around the ground,
                    high-speed photography and computer graphics technology enabling television viewers
                    to study the course of a delivery and help them understand an umpire's decision.
                </p>
                <p>
                    In 1992, the use of a third umpire to adjudicate run-out appeals with television
                    replays was introduced in the Test series between South Africa and India. The
                    third umpire's duties have subsequently expanded to include decisions on other
                    aspects of play such as stumpings, catches and boundaries. From 2011, the third
                    umpire was being called upon to moderate review of umpires' decisions, including
                    lbw, with the aid of virtual-reality tracking technologies (e.g., Hawk-Eye and
                    Hot Spot), though such measures still could not free some disputed decisions
                    from heated controversy.
                </p>
                <div>
                    <h3>21st-century cricket</h3>
                </div>
                <p>
                    In June 2001, the ICC introduced a "Test Championship Table" and, in October 2002,
                    a "One-day International Championship Table". As indicated by ICC rankings,
                    the various cricket formats have continued to be a major competitive sport in
                    most former British Empire countries, notably the Indian subcontinent, and new
                    participants including the Netherlands. In 2017, the number of countries with
                    full ICC membership was increased to twelve by the addition of Afghanistan and
                    Ireland.
                </p>

                <p>
                    The ICC expanded its development programme, aiming to produce more national teams
                    capable of competing at the various formats. Development efforts are focused on
                    African and Asian nations, and on the United States. In 2004, the ICC
                    Intercontinental Cup brought first-class cricket to 12 nations, mostly for the
                    first time. Cricket's newest innovation is Twenty20, essentially an evening
                    entertainment. It has so far enjoyed enormous popularity and has attracted large
                    attendances at matches as well as good TV audience ratings. The inaugural ICC
                    Twenty20 World Cup tournament was held in 2007. The formation of Twenty20 leagues
                    in India – the unofficial Indian Cricket League, which started in 2007, and the
                    official Indian Premier League, starting in 2008 – raised much speculation in
                    the cricketing press about their effect on the future of cricket.
                </p>
            </div>
        </div>
        <div id="wrap-Cricket-History-Content">
            <div id="Womens-Cricket-History">
                <div>
                    <h2 id="heading">History of women's cricket</h2>
                </div>
                <h3><a href="#Cricket-heading">Go up:</a></h3>
                <div>
                    <p>
                        The history of women's cricket can be traced back to a report in The Reading
                        Mercury on 26 July 1745 and a match that took place between the villages of
                        Bramley and Hambledon near Guildford in Surrey.
                    </p>
                    <p>
                        The Mercury reported:
                    </p>
                    <p id="indent-paragraph">
                        "The greatest cricket match that was played in this part of England was on
                        Friday, the 26th of last month, on Gosden Common, near Guildford, between
                        eleven maids of Bramley and eleven maids of Hambledon, all dressed in white.
                        The Bramley maids had blue ribbons and the Hambledon maids red ribbons on
                        their heads. The Bramley girls got 119 notches and the Hambledon girls 127.
                        There was of bothe sexes the greatest number that ever was seen on such an
                        occasion. The girls bowled, batted, ran and catches as well as most men
                        could do in that game.
                    </p>

                    <div>
                        <h3>Early years in England</h3>
                    </div>

                    <div class="images-Cricket-History">
                        <figure>
                            <img src="~/Images/Cricket/Cricket_for_women/220px-Test_cricket_-_women_-_1935.jpg"
                                 alt="The 2nd Women's Test match between Australia and England in Sydney in 1935." />
                            <figcaption>
                                The 2nd Women's Test match between Australia and England in Sydney in 1935.
                            </figcaption>
                        </figure>
                    </div>


                    <p>
                        Early matches were not necessarily genteel affairs.[3] A match, on 13 July 1747,
                        held at the Artillery Ground between a team from Charlton and another from
                        Westdean and Chilgrove in Sussex spilled over into the following day after
                        it was interrupted by crowd trouble. Contemporary records show that women's
                        matches were played on many occasions between villages in Sussex, Hampshire and
                        Surrey. Other matches, often held in front of large crowds with heavy betting
                        on the side, pitted single women against their married counterparts. Prizes
                        ranged from barrels of ale to pairs of lace gloves. The first county match was
                        held in 1811 between Surrey and Hampshire at Ball's Pond in Middlesex. Two
                        noblemen underwrote the game with 1,000 guineas, and its participants ranged
                        in age from 14 to 60.
                    </p>

                    <div class="images-Cricket-History1">
                        <figure>
                            <img src="~/Images/Cricket/Cricket_for_women/Cricket_Match_Played_by_the_Countess_of_Derby_and_Other_Ladies,_1779.jpg"
                                 alt="A 1779 cricket match played by the Countess of Derby and other ladies." />
                            <figcaption>
                                A 1779 cricket match played by the Countess of Derby and other ladies.
                            </figcaption>
                        </figure>
                    </div>

                    <p>
                        Originally, cricket deliveries were bowled underarm. Legend has it that the
                        roundarm bowling action was pioneered in the early 19th century by Christiana
                        Willes, sister of John Willes, to avoid becoming ensnared in her skirts.
                        
                        <div class="images-Cricket-History">
                            <figure>
                                <img src="~/Images/Cricket/Cricket_for_women/220px-TheOriginalEnglishLadyCricketers_RedLillywhite1890.jpg"
                                     alt="The Original English Lady Cricketers 1890" />
                                <figcaption>
                                    The Original English Lady Cricketers 1890
                                </figcaption>
                            </figure>
                        </div>

                        In fact, roundarm was devised by Tom Walker in the 1790s.
                    </p>
                   

                    <p>
                        The first women's cricket club was formed in 1887 at Nun Appleton in Yorkshire and
                        named the White Heather Club. In 1890, a team known as the Original English Lady
                        Cricketers, toured England, playing in exhibition matches to large crowds. The
                        team was highly successful until its manager absconded with the profits, forcing
                        the ladies to disband. James Lillywhite's Cricketers' Annual for 1890 has a
                        photograph of the team and short article on women's cricket. "As an exercise,
                        cricket is probably not so severe as lawn tennis, and it is certainly not so
                        dangerous as hunting or skating; and if, therefore, the outcome of the present
                        movement is to induce ladies more generally to play cricket, we shall consider
                        that a good result has been attained.
                    </p>

                    <div class="images-Cricket-History">
                        <figure>
                            <img src="~/Images/Cricket/Cricket_for_women/200px-Pioneer_wcc_1902.jpg"
                                 alt="Pioneers Cricket Club, South Africa, 1902" />
                            <figcaption>
                                Pioneers Cricket Club, South Africa, 1902
                            </figcaption>
                        </figure>
                    </div>

                    <p>
                        The Women's Cricket Association was founded in 1926. The England team first
                        played against The Rest at Leicester in 1933 and undertook the first international
                        tour to Australia in 1934–5, playing the first Women's Test match between England
                        and Australia in December 1934. After winning two tests and drawing one. England
                        travelled on to New Zealand where Betty Snowball scored 189 in the first Test in
                        Christchurch.
                    </p>

                    <div>
                        <h3>Early years in Australia</h3>
                    </div>

                    <div class="images-Cricket-History1">
                        <figure>
                            <img src="~/Images/Cricket/Cricket_for_women/Lily_Poulett-Harris_(1873-1897).jpg"
                                 alt="The 2nd Women's Test match between Australia and England in Sydney in 1935." />
                            <figcaption>
                                Photograph of Miss Lily Poulett-Harris, founding mother of women's cricket in Australia.
                            </figcaption>
                        </figure>
                    </div>

                    <p>
                        The founding mother of women's cricket in Australia was the young Tasmanian,
                        Lily Poulett-Harris, who captained the Oyster Cove team in the league she created
                        in 1894. Lily's obituary, from her death a few years later in 1897, states that her
                        team was almost certainly the first to be formed in the colonies. Following
                        this, the Victoria Women's Cricket Association was founded in 1905 and the
                        Australian Women's Cricket Association in 1931. The current competition is run by
                        the Women's National Cricket League.
                    </p>
                    <div>
                        <h3>The spread to other countries</h3>
                    </div>
                    <p>
                        The International Women's Cricket Council was formed in 1958 to coordinate women's
                        cricket which was now being played regularly in Australia, England, New Zealand,
                        South Africa, the West Indies, Denmark and the Netherlands. Test cricket has now
                        been played by Australia, England, India, Ireland, Netherlands, New Zealand,
                        Pakistan, Sri Lanka and the West Indies. 131 women's Test
                        matches have been played to date, the majority featuring England or
                        Australia. Originally these were three-day matches, but since 1985 most have
                        been played over four days. England have played 87 Test matches since their first
                        in 1934, winning 19, losing 11 and drawing 57. Australia have played 67 in the same
                        period, winning 18, losing nine and drawing 40.
                    </p>

                    <p>
                        The highest total is Australia's 569 for six declared against England Women in 1998,
                        and the highest individual score is the 242 recorded by Kiran Baluch for Pakistan
                        Women against West Indies Women at the National Stadium, Karachi in 2003/04. Five
                        other women have scored double centuries. Neetu David of India took eight wickets
                        in an innings against England in 1995/56 and seven wickets have fallen to the same
                        bowler on ten occasions. The best match figures, 13 for 226 were recorded by Shaiza
                        Khan for Pakistan Women against West Indies Women in Karachi in 2003/04. Three
                        English batsmen, Janet Brittin with 1935 runs at 49.61, Charlotte Edwards, 1621 at
                        49.09 and Rachel Heyhoe-Flint with 1594 at 45.54, head the all-time run scoring lists
                        while six other women have scored more than 1,000 Test runs. Mary Duggan of England
                        took 77 Test wickets at 13.49 while Australia's Betty Wilson took 68 at 11.8. Seven
                        other women have 50 or more victims to their name Archived 16 October 2011 at the
                        Wayback Machine.
                    </p>

                    <p>
                        Betty Wilson was the first player, male or female, to record a century and ten
                        wickets in a Test match, against England at the MCG in 1958. In a remarkable match
                        Australia were bowled out for 38 but gained a first innings lead of three in dismissing
                        England for 35 in reply, with Wilson taking seven for seven. 35 remains the lowest total
                        ever recorded in a women's Test. Australia, thanks to Wilson's century, set England 206
                        to win but the visitors held on for a draw. In 1985, Australia's Under-21 National Women's
                        Cricket Championship was renamed the Betty Wilson Shield in her honour. Another phenomenal
                        club performance saw right-hander Jan Molyneaux make a record 298 for Olympic v Northcote
                        in Melbourne's A grade final in 1967. Molyneaux also made 252 not out on a separate
                        occasion in a 477 run partnership with Dawn Rae, again for Olympic.
                    </p>

                    <div>
                        <h3>Women's cricket in the modern era</h3>
                    </div>

                    <p>
                        Club and county cricket in England has undergone constant evolution. There is currently a
                        National Knock-Out Cup and a league structure culminating in a Northern and Southern
                        Premier league. The major county competition is the LV Women's County Championship, while
                        Super Fours, featuring teams named after precious stones, bridges the gap for the elite
                        players between domestic and international competition.
                    </p>

                    <p>
                        In April 1970, MCC's traditional Easter coaching classes at Lord's were attended by Sian
                        Davies and Sally Slowe of Cheltenham Ladies' College (see photo in Wisden at Lord's, page 129)
                        breaking the 'gender barrier'. The first Women's Cricket World Cup was held in England in 1973,
                        funded in part by businessman Jack Hayward, and won by the hosts at Lords in front of Princess
                        Anne. Enid Bakewell and Lynne Thomas, making their international debuts for England, scored
                        unbeaten hundreds against an International XI in Brighton in a stand of 246, a record which
                        stood for a quarter of a century. Lord's staged its first women's Test match in 1979, between
                        England and Australia.
                    </p>

                    <p>
                        One-Day International cricket has been played by Australia, Denmark, England, India, Ireland,
                        Japan, Netherlands, New Zealand. Pakistan, Scotland, South Africa, Sri Lanka and the West Indies
                        while Jamaica, Trinidad and Tobago and International XIs have played in World Cups. 707 ODIs have
                        been played up to the end of the 2009 World Cup. The 455 for 5 smashed by New Zealand Women
                        against Pakistan Women at Hagley Oval, Christchurch in 1996/97 remains the highest team score while
                        the Netherlands Women were bowled out for just 22 against West Indies Women at Sportpark Het
                        Schootsveld in Deventer in 2008.
                    </p>

                    <p>
                        The Women's Cricket Association handed over the running of women's cricket in England to the England
                        and Wales Cricket Board (ECB) in 1998. In 2005, after the eighth Women's World Cup, the International
                        Women's Cricket Council was officially integrated under the umbrella of the International Cricket
                        Council, and an ICC Women's Cricket Committee was formed to consider all matters relating to women's
                        cricket. The 2009 World Cup, the first held under the auspices of the ICC was won by England, the
                        first English team of either sex to win an ICC competition.
                    </p>

                    <p>
                        Women have beaten male teams to several milestones in one-day cricket. They were the first to play an
                        international Twenty/20 match, England taking on New Zealand at Hove in 2004. The first tie in a
                        one-day international was also between Women's teams, hosts New Zealand tying the first match of the
                        World Cup in 1982 against England, who went on to record another tie against Australia in the same
                        competition. Female wicket keepers were the first to record 6 dismissals in a one-day international,
                        New Zealand's Sarah Illingworth and India's Venkatacher Kalpana both accounting for 6 batsman on the
                        same day in the 1993 World Cup and Belinda Clark, the former Australian captain, is the only female
                        player to have scored a double hundred in an ODI, recording an unbeaten 229 in the 1997 World Cup
                        against Denmark. Pakistan's Sajjida Shah is the youngest player to appear in international cricket,
                        playing against Ireland four months after her 12th birthday. She also holds the record for the best
                        bowling figures in a one-day international, taking 7 wickets for just 4 runs against Japan Women at
                        the Sportpark Drieburg in Amsterdam in 2003. Fast bowler Cathryn Fitzpatrick of Australia took
                        180 wickets in her one-day international career.
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>


