@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Video Games</title>
</head>
<body>
    <div>
        <center><h1>Upcoming Video Games!</h1></center>
    </div>
    <p>
        Here at rAge we pride ourselves on many things Technology, VR you name it but there is one thing we do best
        and that is video games! We offer a wide variety of <b>video games</b> that is offered to all types of gamers including
        a few sneak peaks of highly anticipated titles for you to try out at the Expo.
    </p>
    <br />

    <center>
        <h1>God of War Ragnarok</h1>
        <img src="~/Images/god of war.jpg" alt="war" style="width:700px">
        <p>
            God of War 2018 was nothing short of a masterpiece, a thrilling story, exciting enemies and more
            importantly fun as hell gamplay that offered new thrills while staying true to the God of War combat formaula
            we all know and love. Now it's back with it's highly anticipated sequal God of War Ragnarok wher you
            to the land of vikings as Kratos and Atreus fighting new deadlier enemies, discover new locations and take on
            <b>Thor</b> himself. At rAge you can have a sneak peak at the highly anticipated title and experience the adventure
            first hand before its release date. So pick up your <b>Leviathan Axe</b> and come join on the fun!!!
        </p>
    </center>
    <br />

    <center>
        <h1>Bayonetta 3</h1>
        <img src="~/Images/bayonetta3.jpg" alt="girl" style="width:700px">
        <p>
            Get ready for more chaotic gameplay against crazy looking enemies and over the top combat with
            <b>Bayonetta 3.</b> Created by Paltinum Games and published by Nintendo they bring you back this
            beloved series with its third installment which promises over the top action segments you come to know
            and love from any Platinum Games title. Come by and check out the title yourself with the sneak peak!
        </p>
    </center>
    <br />

    <center>
        <h1>Hogwarts Legacy</h1>
        <img src="~/Images/hogwarts.jpg" alt="legacy" style="width:700px">
        <p>
            Hogwarts Legacy is an action RPG developed by Avalanche Studios and published by Warner Bros. With
            this upcoming game you can create your own character and craft your own story within the
            <b>Harry Potter Universe</b>, you can perform all sorts of unique spells, craft all sorts of potions
            and face off other students in this unique RPG. Don't take our word for it though come and try out
            the sneak peak for yourself!
        </p>
    </center>
    <br />

    <center>
        <h1>StarField</h1>
        <img src="~/Images/starfield.jpg" alt="star" style="width:700px">
        <p>
            Have you ever imagined playing <b>Skyrim in SPACE,</b> well now you can with Bethesda's upcoming
            title StarField. StarField will let you live out your space dreams by travelling to distant worlds,
            fight off space bandits or aliens, use all sorts of unique guns and gadgets to defeat your oponents,
            even customize your personal aircraft to survive the vacuum of space and defeat other ships in epic
            dog fights. You better check out this sneak peak if I were you.
        </p>
    </center>
    <br />

</body>
</html>

