@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=opera" />
    <meta http-equiv="X-UA-Compatible" content="IE=brave" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta http-equiv="X-UA-Compatible" content="IE=moz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hockey</title>
    <link rel="stylesheet" href="~/Content/Sport_Hockey.css" type="text/css" />
    @Styles.Render("~/Content/Sport_Hockey")
</head>
<body>
    <div id="wrap-content">
        <div id="wrap-heading-intro-Hockey">
            <div id="heading">
                <h1 id="Hockey-heading">Hockey's History, its rules, gear and popularity across the globe</h1>
                <a href="#Air-Hockey-heading">Air Hockey</a>
            </div>

            <div id="wrap-Hockey-History-Content">
                <div id="combo-img-element">
                    <div id="combo-img-element1">
                        <div>
                            <figure>
                                <img class="sport-image1" src="~/Images/Hockey/Rink-Hockey_Euroleague_2012-2013_-_Genève_vs_Hockey_Valdagno_-_16.jpg" alt="Field hockey image" />
                                <figcaption></figcaption>
                            </figure>
                        </div>
                        <div>
                            <figure>
                                <img class="sport-image1" src="~/Images/Hockey/Field_hockey_at_the_2012_Summer_Olympics_-_NZL-AUS_(7796665032).jpg" alt="Ice skate Tournament" />
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div id="combo-img-element2">
                        <div>
                            <figure>
                                <img class="sport-image1" src="~/Images/Hockey/Sled_hockey_player.jpg" alt="Ice sakte tournament" />
                                <figcaption></figcaption>
                            </figure>
                        </div>
                        <div>
                            <figure>
                                <img class="sport-image1" src="~/Images/Hockey/2020-01-21_Ice_hockey_at_the_2020_Winter_Youth_Olympics_–_Women's_tournament_–_Gold_Medal_Game_(Martin_Rulsch)_105.jpg" alt="Ice skate game" />
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div id="combo-img-element3">
                        <div>
                            <figure>
                                <img class="sport-image1" src="~/Images/Hockey/Bandy_game_at_Zinkensdamms_IP.jpg" alt="Ice skate game" />
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>

                <p>
                    Hockey is a term used to denote various types of both summer and winter team sports
                    originated on either an outdoor field, sheet of icen or dry floor such as in a gymnasium.
                </p>

                <p>
                    There are many types of hockey; Some games makes use of skates either wheeld or bladed
                    while others are neither. In order to distinguish between the various sports , the word
                    "Hockey" is often precededby another word for example: "Field Hockey", "Ice Hockey",
                    "Roller Hockey", "Rink Hockey" or "Floor Hockey".
                </p>

                
                <p>
                    In each of these sports two teams play against each others by trying to maneuvre the
                    object of play, either a type of ball or a disk into the opponent's goal using a hockey
                    stick. Two notable exceptions use a straight stick and an open disk (still referred to as
                    a "puck") with a hole in the center instead. The first case is a style of floor hockey
                    whose rules were codified in 1936 during the Great Depression by Canada's Sam Jacks.
                    <div class="img-element">
                        <figure>
                            <img class="sport-image" src="~/Images/Hockey/Pittsburgh_Penguins_Washington_Capitals_Bryan_Rust.jpg" alt="hockey in Canada" />
                            <figcaption>
                                The word "hockey" in Canada, the United States, Russia, and most of
                                Eastern and Northern Europe, typically refers to ice hockey
                            </figcaption>
                        </figure>
                    </div>
                    The second case involves a variant which was later modified in roughly the 1970's to
                    make a related game the would be considered suitable for inclusion as a team sport
                    in the newly emerging Special Olympics. The floor game of gym ringette, though
                    the realted to floor hockey, is not a true due to the fact that it was designed
                    in the 1990's and modelled off of the Canadian is eskating team sport of ringette,
                    which was invented in Canada in 1963. Ringette  was also invented by Sam Jacks, the
                    same Canadian who codified the rules for the open disk style of floor hockey in 1936.
                </p>

                <p>
                    In most of the world the term hockey by itself refers to field hockey, while in Canada,
                    the United States, Russia and most of the Eastern and Nothern Europe, the term usually
                    refers to ice hockey.
                </p>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/2010ParalympicsCanadaVsSwedenIceSledgeHockey.jpg" alt="Sledge hockey" />
                        <figcaption>
                            Sledge hockey (or "sled hockey") is now called "Para ice hockey". It is the
                            only hockey sport on ice created exclusively for participants with physical
                            disabilities.
                        </figcaption>
                    </figure>
                </div>
                <p>
                    In a more recent history, the word hockey is used in reference to either the summer
                    sport of field hockey, and the winter ice team skating sports of bandy and ice hockey.
                    This is due to the fact that field hockey and other stick and ball sports and their
                    related variants preceded games which would eventually be played on ice with ice
                    skates, namely bandy and ice hockey, as well as sportsinvolving dry floors such as
                    roller hockey and floor hockey. However, the "Hockey" referred to in common parlance
                    often depends on locale, geography and the size and popularity of the sport involved.
                    For example, in Europe, "hockey" more typically refers to field hockey, whereas in
                    Canada, it typically refers to ice hockey. In the case of bandy, the game was
                    initially called "hockey on the ice" and preceded the organization and development
                    of ice hockey, but was officially changed to "bandy" in the early 20th century in
                    order to avoid confusion with ice hockey, a separate sport.
                </p>
                <div id="Etymology-element">
                    <h2>Etymology</h2>
                </div>
                <p>
                    The first recorded use of the word hockey is in the 1773 book Juvenile Sports and Pastimes
                    , to Which Are Prefixed, Memoirs of the Author: Including a New Mode of Infant Education
                    by Richard Johnson (Pseud. Master Michel Angelo), whose chapter XI was titled
                    "New Improvements on the Game of Hockey". The belief that hockey was mentioned in a 1363
                    proclamation by King Edward III of England is based on modern translations of the
                    proclamation, which was originally in Latin and explicitly forbade the games
                    "Pilam Manualem, Pedivam, & Bacularem: & ad Canibucam & Gallorum Pugnam".The English
                    historian and biographer John Strype did not use the word "hockey" when he translated the
                    proclamation in 1720, instead translating "Canibucam" as "Cambuck"; this may have referred
                    to either an early form of hockey or a game more similar to golf or croquet.
                </p>
                <p>
                    The word hockey itself is of unknown origin. One supposition is that it is a derivative of
                    hoquet, a Middle French word for a shepherd's stave. The curved, or "hooked" ends of the
                    sticks used for hockey would indeed have resembled these staves. Another supposition derives from the known use of cork bungs (stoppers), in place of wooden balls to play the game. The stoppers came from barrels containing "hock" ale, also called "hocky".[9]
                </p>

                <div id="Hockey-history-Information">
                    <h2>History</h2>
                </div>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/220px-Antiek_hockey.jpg" alt="Antique Hockey statue" />
                        <figcaption>bas relief approx. 600 BC, in the National Archaeological Museum of Athens</figcaption>
                    </figure>
                </div>
                <p>
                    Games played with curved sticks and a ball can be found in the histories of many cultures.
                    In Egypt, 4000-year-old carvings feature teams with sticks and a projectile, hurling dates
                    to before 1272 BC in Ireland, and there is a depiction from approximately 600 BC in
                    Ancient Greece, where the game may have been called kerētízein because it was played with a
                    horn or horn-like stick (kéras, κέρας). In Inner Mongolia, the Daur people have been
                    playing beikou, a game similar to modern field hockey, for about 1,000 years.
                </p>
                <p>
                    Most evidence of hockey-like games during the Middle Ages is found in legislation concerning
                    sports and games. The Galway Statute enacted in Ireland in 1527 banned certain types of ball
                    games, including games using "hooked" (written "hockie", similar to "hooky") sticks.
                </p>
                <p class="indent-paragraph">
                    ...at no tyme to use ne occupye the horlinge of the litill balle with hockie stickes
                    or staves, nor use no hande ball to play withoute walles, but only greate foote balle.
                </p>

                <p>
                    By the 19th century, the various forms and divisions of historic games began to differentiate
                    and coalesce into the individual sports defined today. Organizations dedicated to the
                    codification of rules and regulations began to form, and national and international bodies
                    sprang up to manage domestic and international competition.
                </p>
                <div id="subtypes-element">
                    <h2>Subtypes</h2>
                </div>

                <div id="Bandy-element">
                    <h3>Bandy</h3>
                </div>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/Kareby_IS-AIK,_13_mars_2015_32.jpg" alt="Hockey Tournament in Sweden" />
                        <figcaption>Bandy game in Sweden.</figcaption>
                    </figure>
                </div>

                <p class="indent-paragraph">
                    Main article: Bandy
                </p>

                <p>
                    Bandy is played with a ball on a football pitch-sized ice arena (bandy rink), typically outdoors,
                    and with many rules similar to association football. It is played professionally in Russia
                    and Sweden. The sport is recognized by the IOC; its international governing body is the
                    Federation of International Bandy.
                </p>

                <p>
                    Bandy has its roots in England in the 19th century, was originally called "hockey on the ice"
                    , and spread from England to other European countries around 1900; a similar Russian sport
                    can also be seen as a predecessor and in Russia, bandy is sometimes called "Russian hockey".
                    Bandy World Championships have been played since 1957 and Women's Bandy World Championships
                    since 2004. There are national club championships in many countries and the top clubs in the
                    world play in the Bandy World Cup every year.
                </p>

                <div id="Field-Hoeckey-element">
                    <h3>Field hockey</h3>
                </div>
                <p class="indent-paragraph">
                    Main article: Field hockey
                </p>
                <p>

                    <div class="img-element">
                        <figure>
                            <img class="sport-image" src="~/Images/Hockey/250px-Field_hockey.jpg" alt="Field hockey game" />
                            <figcaption>  Field hockey game at Melbourne University.</figcaption>
                        </figure>
                    </div>
                <p>
                    Field hockey is played on gravel, natural grass, or sand-based or
                    water-based artificial turf, with a small, hard ball approximately
                    73 mm (2.9 in) in diameter. The game is popular among both men and
                    women in many parts of the world, particularly in Europe, Asia,
                    Australia, New Zealand, South Africa, and Argentina. In most countries,
                    the game is played between single-sex sides, although they can be
                    mixed-sex.
                </p>
                <p>
                    The governing body is the 126-member International Hockey Federation (FIH).
                    Men's field hockey has been played at each Summer Olympic Games since
                    1908 except for 1912 and 1924, while women's field hockey has been played
                    at the Summer Olympic Games since 1980.
                </p>
                <p>
                    Modern field hockey sticks are constructed of a composite of wood,
                    glass fibre or carbon fibre (sometimes both) and are J-shaped, with a
                    curved hook at the playing end, a flat surface on the playing side
                    and a curved surface on the rear side. All sticks are right-handed -
                    left-handed sticks are not permitted.
                </p>
                <p>
                    While field hockey in its current form appeared in mid-18th century
                    England, primarily in schools, it was not until the first half of
                    the 19th century that it became firmly established. The first club was
                    created in 1849 at Blackheath in south-east London. Field hockey is the
                    national sport of Pakistan. It was the national sport of India until
                    the Ministry of Youth Affairs and Sports declared in August 2012 that
                    India has no national sport.
                </p>
                <div id="Ice-Hockey-element">
                    <h3>Ice hockey</h3>
                </div>

                <p class="indent-paragraph">
                    Main article: Ice hockey
                </p>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/250px-The_Colts_applying_pressure_at_the_Battalion_net.jpg"
                             alt="Ice-Hockey" />
                        <figcaption>
                            Ice hockey game between the Barrie Colts and the Brampton Battalion
                        </figcaption>
                    </figure>
                </div>

                <p>
                    Ice hockey is played between two teams of skaters on a large flat area of
                    ice, using a three-inch-diameter (76.2 mm) vulcanized rubber disc called
                    a puck. This puck is often frozen before high-level games to decrease the
                    amount of bouncing and friction on the ice. The game is played all over
                    North America, Europe and to varying extents in many other countries
                    around the world. It is the most popular sport in Canada, Finland, Latvia,
                    the Czech Republic, and Slovakia. Ice hockey is the national sport of
                    Latvia and the national winter sport of Canada. Ice hockey is played at
                    a number of levels, by all ages.
                </p>

                <p>
                    The governing body of international play is the 77-member International
                    Ice Hockey Federation (IIHF). Men's ice hockey has been played at the
                    Winter Olympics since 1924, and was in the 1920 Summer Olympics. Women's
                    ice hockey was added to the Winter Olympics in 1998. North America's
                    National Hockey League (NHL) is the strongest professional ice hockey league,
                    drawing top ice hockey players from around the globe. The NHL rules are
                    slightly different from those used in Olympic ice hockey over many categories.
                    International ice hockey rules were adopted from Canadian rules in the early 1900s.
                </p>
                <p>
                    The contemporary sport developed in Canada from European and native influences.
                    These included various stick and ball games similar to field hockey, bandy and
                    other games where two teams push a ball or object back and forth with sticks.
                    These were played outdoors on ice under the name "hockey" in England throughout
                    the 19th century, and even earlier under various other names. In Canada, there
                    are 24 reports of hockey-like games in the 19th century before 1875 (five of
                    them using the name "hockey"). The first organized and recorded game of ice
                    hockey was played indoors in Montreal, Quebec, Canada, on March 3, 1875, and
                    featured several McGill University students.
                </p>
                <p>
                    Ice hockey sticks are long L-shaped sticks made of wood, graphite, or composites
                    with a blade at the bottom that can lie flat on the playing surface when the stick
                    is held upright and can legally curve either way, for left- or right-handed players.
                </p>
                <div id="Para-ice-hockey-element">
                    <h3>Para ice hockey</h3>
                </div>

                <p class="indent-paragraph">
                    Main article: Sledge hockey
                </p>

                <p>
                    Ice sledge hockey, or "para ice hockey", is a form of ice hockey designed for
                    players with physical disabilities affecting their lower bodies. Players sit
                    on double-bladed sledges and use two sticks; each stick has a blade at one
                    end and small picks at the other. Players use the sticks to pass, stickhandle
                    and shoot the puck, and to propel their sledges. The rules are very similar to
                    IIHF ice hockey rules.
                </p>
                <p>
                    Canada is a recognized international leader in the development of sledge hockey,
                    and much of the equipment for the sport was first developed there, such as sledge
                    hockey sticks laminated with fiberglass, as well as aluminum shafts with hand-carved
                    insert blades and special aluminum sledges with regulation skate blades.
                </p>

                <div id="Inline-sledge-hockey-element">
                    <h2>Inline sledge hockey</h2>
                </div>

                <p>
                    Based on ice sledge hockey, inline sledge hockey is played to the same rules as
                    inline puck hockey (essentially ice hockey played off-ice using inline skates).
                    There is no classification point system dictating who can play inline sledge hockey,
                    unlike the situation with other team sports such as wheelchair basketball and wheelchair
                    rugby. Inline sledge hockey is being developed to allow everyone, regardless of
                    whether they have a disability or not, to complete up to world championship level
                    based solely on talent and ability.
                </p>
                <p>
                    The first game of organized inline sledge hockey was played at Bisley, England,
                    on December 19, 2009, between the Hull Stingrays and the Grimsby Redwings. Matt
                    Lloyd is credited with inventing inline sledge hockey, and Great Britain is seen
                    as the international leader in the game's development.
                </p>

                <div id="Roller-hockey-inline-element">
                    <h3>Roller hockey (inline)</h3>
                </div>

                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/200px-21_CZE-SVK_24.jpg"
                             alt="Inline hockey player using inline skates" />
                        <figcaption>
                            Inline hockey uses inline skates and a type of either a puck or ball.
                        </figcaption>
                    </figure>
                </div>

                <p class="indent-paragraph">
                    Main article: Roller in-line hockey
                </p>
                <br />
                <p>
                    Though inline hockey is considered a variant of roller hockey
                    a.k.a. "rink hockey", it was derived from ice hockey instead
                    and uses a type of hockey puck or a ball. Both roller games
                    use a type of wheeled skate but inline hockey uses inline skates
                    rather than roller skates or "quads".
                </p>
                <p>
                    The puck-based inline variant is more commonly played in North
                    America than Europe while the ball-based variant is more popular
                    in Europe.
                </p>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/200px-Bully_beim_Inline-Skaterhockey.jpg"
                             alt="Inline hockey using a ball more common in Europe" />
                        <figcaption>
                            Inline hockey using a ball is more common in Europe.
                        </figcaption>
                    </figure>
                </div>
                <p>
                    Inline hockey puck variant is played by two teams, consisting of
                    four skaters and one goalie, on a dry rink divided into two halves
                    by a center line, with one net at each end of the rink. The game
                    is played in three 15-minute periods with a variation of the ice
                    hockey off-side rule. Icings are also called, but are usually
                    referred to as illegal clearing. The governing body is the
                    International Ice Hockey Federation (IIHF), just as it is for ice
                    hockey, but some leagues and competitions do not follow the IIHF
                    regulations, in particular USA Inline and Canada Inline.
                </p>

                <div id="Roller-hockey-quad-element">
                    <h3>
                        Roller hockey (quad)
                    </h3>
                </div>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/220px-Argentin_player_during_2007_rink_hockey_world_championship.jpg"
                             alt="Rink Hockey- Roll Hockey" />
                        <figcaption>
                            Rink hockey - Rollhockey - Hoquei em Patins
                        </figcaption>
                    </figure>
                </div>
                <p class="indent-paragraph">
                    Main article: Roller hockey (quad)
                </p>
                <br />
                <p>
                    Roller hockey, also known as "quad hockey", "international-style
                    ball hockey", "rink hockey" and "Hoquei em Patins", is an
                    overarching name for a roller sport that uses quad skates. It has
                    existed long before the invention of inline skates. The sport is
                    played in over sixty countries and has a worldwide following.
                    Roller hockey was a demonstration sport at the 1992 Barcelona
                    Summer Olympics.
                </p>

                <div id="Roller-hockey-quad-element">
                    <h3>
                        Street hockey
                    </h3>
                </div>
                <p class="indent-paragraph">
                    Main article: Street hockey
                </p>

                <p>
                    Also known as road hockey, this is a dry-land variant of ice and
                    roller hockey played year-round on a hard surface (usually asphalt).
                    A ball is usually used instead of a puck, and protective equipment
                    is not usually worn.
                </p>
                <div id="Other-forms-of-hockey-element">
                    <h2>Other forms of hockey</h2>
                </div>
                <div class="img-element">
                    <figure>
                        <img class="sport-image" src="~/Images/Hockey/300px-Mapuche_Chueca-Alonso_Ovalle.jpg"
                             alt="Native Mapunches playing palín" />
                        <figcaption>
                            Native Mapuches playing palín, shown in Histórica Relación
                            del Reino de Chile by Alonso de Ovalle, Rome, 1646
                        </figcaption>
                    </figure>
                </div>
                <p>
                    Other games derived from hockey or its predecessors include the
                    following:
                </p>
                <ul>
                    <li>
                        Air hockey is played indoors with a puck on an air-cushion table.
                    </li>
                    <li>
                        Beach hockey, a variation of street hockey, is a common sight on Southern California beaches.
                    </li>
                    <li>
                        Ball hockey is played in a gym using sticks and a ball, often a tennis ball with the felt removed.
                    </li>

                    <li>
                        Box hockey is a schoolyard game played by two people. The object of the game is to move a hockey puck from the center of the box out through a hole placed at the end of the box (known as the goal). The players kneel facing one another on either side of the box, and each attempts to move the puck to the hole on their left.
                    </li>
                    <li>
                        Broomball is played on an ice hockey rink, but with a ball instead of a puck and a "broom" (actually a stick with a small plastic implement on the end) in place of the ice hockey stick. Instead of skates, special shoes are used that have very soft rubbery soles to maximize grip while running around.
                    </li>
                </ul>
                <div class="img-element">
                    <figure>
                        <img src="~/Images/Hockey/220px-Boxhockey1935.jpg" alt="Box Hockey being played in Miami">
                        <figcaption>
                            Box Hockey being played in Miami, Florida, 1935
                        </figcaption>
                    </figure>
                </div>
                <ul>
                    <li>
                        Deck hockey is traditionally played by the Royal Navy on ships' decks, using short wooden L-shaped sticks.
                    </li>
                    <li>
                        Floor hockey: a variety of games with different codes usually played on foot on a flat, smooth floor surface, usually indoors in gymnasiums or similar spaces.
                    </li>
                    <li>
                        Floorball is a form of hockey played in a gymnasium or in a sports hall. A whiffle ball is used instead of a plastic ball, and the sticks are only one meter long and made from composite materials.
                    </li>
                    <li>
                        Foot hockey or sock hockey is played using a bald tennis ball or rolled-up pair of socks and using only the feet. It is popular in elementary schools in the winter.
                    </li>
                    <li>
                        Gena is a field hockey sport played in Ethiopia, with which the Ethiopian Christmas festival shares its name. The equipment consists of a strong stick curved at one end, and a ball of two kinds: either called srur (made out of a rounded piece of hard-wood) or tsng (made by weaving a long strip of leather into a rounded shape).
                    </li>
                    <li>
                        Gym ringette is the off-ice floor variant of the ice skating team sport of ringette rather than ice hockey. It is not a direct variant of the style of floor hockey which helped inspire ringette.
                    </li>
                    <li>
                        Gym hockey a.k.a. floor hockey is a form of ice hockey played in a gymnasium. It uses sticks with foam ends and a foam ball or a plastic puck.
                    </li>
                    <li>
                        Hurling and Camogie are Irish games bearing some resemblance to - and notable differences from – hockey.
                    </li>
                    <li>
                        Indoor hockey is an indoor variant of field hockey.
                    </li>
                    <li>
                        Mini hockey (or knee-hockey), also known as "mini-sticks" is a form of hockey played in the United States and Canada in the basements of houses. Players kneel, or crouch, and use a miniature plastic stick, usually about 15 inches (38 cm) long, to manoeuvre a small ball or a soft, fabric-covered mini puck into miniature goals. In England 'mini hockey' refers to a seven-a-side version of field hockey for younger players, played on an area equivalent to half a normal pitch.
                    </li>
                    <li>
                        Nok Hockey is a table-top version of hockey played with no defence and a small block in front of the goal.
                    </li>
                    <li>
                        Pond hockey is a simplified form of ice hockey played on naturally frozen ice.
                    </li>
                    <li>
                        Power hockey is a form of hockey for persons requiring the use of an electric (power) wheelchair in daily life.
                    </li>
                    <li>
                        Ringette is primarily a variant of an early 20th century style of floor hockey, but played on ice hockey skates and designed for female players; it uses a straight stick and an air-filled rubber ring in place of a floor hockey puck (open disk). Though played on ice hockey rinks, the rules and strategy differ considerably from those of ice hockey and bear a closer resemblance to basketball. It should not be confused with gym ringette which is the floor variant of the ice sport.
                    </li>
                    <li>
                        Rink bandy and rinkball are team sports of Scandinavian origin. Both were influenced by bandy, but are played on ice hockey rinks and involve fewer players on each team.
                    </li>
                    <li>
                        Rossall hockey is a variation played at Rossall School on the sea shore in the winter months. Its rules are a mix of field hockey, rugby and the Eton wall game.
                    </li>
                    <li>
                        Shinny is an informal version of ice hockey.
                    </li>
                    <li>
                        Shinty is a Scottish game now played primarily in the Highlands
                    </li>
                    <li>
                        Skater hockey is a variant of inline hockey, played with a ball.
                    </li>
                    <li>
                        Spongee is a cross between ice hockey and broomball and is most popular in Manitoba, Canada. A stick and puck are used as in hockey (the puck is a softer version called a "sponge puck"), and the same soft-soled shoes are worn as in broomball. The rules are basically the same as for ice hockey, but one variation has an extra player on the ice called a "rover".
                    </li>
                    <li>
                        Table hockey is played indoors on a table.
                    </li>
                    <li>
                        Underwater hockey is played with a weighted puck on the bottom of a swimming pool.
                    </li>
                    <li>
                        Underwater ice hockey is similar to underwater hockey but played with floating puck on the underside of a frozen swimming pool.
                    </li>
                    <li>
                        Unicycle hockey is played on a hard surface using unicycles as the method of player movement. There is generally no dedicated goalkeeper.
                    </li>
                </ul>
                <div id="Equipment-element">
                    <h2>
                        Equipment
                    </h2>
                </div>
                <div id="Protection-element">
                    <h3>
                        Protection
                    </h3>
                </div>
                <ul>
                    <li>
                        Shoulder pads
                    </li>
                    <li>
                        Genital protection, a jockstrap with cup pocket and protective cup or a "jill" for female players.
                    </li>
                    <li>
                        Hockey stick
                    </li>
                </ul>
                <div id="Footwear-element">
                    <h3>
                        Footwear
                    </h3>
                </div>
                <div id="Roller-hockey-element">
                    <h4>
                        Roller hockey
                    </h4>
                </div>

                <div class="combo-img-skates">
                    <div class="img-element-skating">
                        <figure>
                            <img class="sport-image1" src="~/Images/Hockey/Inline-skate-adjustable.jpg" alt="Inline hockey skates">
                            <figcaption>
                                Inline hockey skates
                            </figcaption>
                        </figure>
                    </div>
                    <div class="img-element-skating">
                        <figure>
                            <img class="sport-image" src="~/Images/Hockey/Roller-skate.jpg" alt="Roller skates">
                            <figcaption>
                                Roller skates
                            </figcaption>
                        </figure>
                    </div>
                    <div class="img-element-skating">
                        <figure>
                            <img class="sport-image" src="~/Images/Hockey/Roller_skates.jpg" alt="inline skates and the traditional roller skate">
                            <figcaption>
                                Two available styles: inline skates and the traditional roller skate
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div id="wrap-Hockey-History-Content">
                <div id="heading">
                    <h1 id="Air-Hockey-heading">
                        Air Hockey's History, its rules,
                        gear and popularity across the globe
                    </h1>
                </div>
                <p>
                    Air Hockey is a Pong-like tabletop sport where two opposing players try to score goals against
                    each other on a low-friction table using a lightweight plastic puck.
                </p>

                <p>
                    The air hockey yable has raised edges that allow the puck to reflect off horizontally and
                    a very smooth slippery surface that further reduces friction by suspending the puck on a
                    thin cushion of air ejected from tiny vent holes built inside the surface. This causes the
                    puck to hover and move easily across the table with little loss velocity, which simlutaes
                    the lubricated slding of an ice hockey puck across a well polished rink, hence the name
                    of the name.
                </p>

                <div class="Air-hockey-heading">
                    <h2>
                        Air hockey tables
                    </h2>
                </div>

                <div>
                    <figure>
                        <img src="#" alt="An air hockey table in Currier House" />
                        <figcaption>
                            An air hockey table in Currier House
                        </figcaption>
                    </figure>
                </div>


                <p>
                    A typical air hockey table consists of a large smooth playing surface designed to minimize
                    friction, a surrounding rail to prevent the puck and strikers (paddles) from leaving the
                    table, and slots in the rail at either end of the table that serve as goals. On the ends
                    of the table behind and below the goals, there is usually a puck return. Additionally,
                    tables will typically have some sort of machinery that produces a cushion of air on the
                    playing surface through tiny holes, with the purpose of reducing friction and increasing
                    play speed. In some tables, the machinery is eschewed in favor of a slick table surface,
                    usually plastic, in the interest of saving money in both manufacturing and maintenance
                    costs. Note that these tables are technically not air hockey tables, since no air is
                    involved; however, they are still generally understood to be as such due to the basic
                    similarity of gameplay. There also exist pucks that use a battery and fan to generate
                    their own air cushion, but as they are prone to breakage, they are commonly marketed
                    only as toys.
                </p>

                <div>
                    <figure>
                        <img src="#" alt="Air Hockey Striker" />
                        <figcaption>
                            Air Hockey Striker
                        </figcaption>
                    </figure>
                </div>

                <p>
                    The only tables that are approved for play and sanctioned by the USAA (United States Air
                    Hockey Association) and the AHPA (Air Hockey Players Association) for tournament play are
                    8-foot tables. Approved tables include all Gold Standard Games 8-foot tables; some 8-foot
                    tables from Dynamo; and the original 8-foot commercial Brunswick tables. Other full-size
                    novelty-type tables with flashing lights on the field of play, painted rails, and/or smaller
                    pucks are not approved for tournament play but can be used to learn the game. There are
                    also tables for air hockey having a size of 1.5, 2, or 2.5 feet. They are called a mini air
                    hockey. This is due to the small dimensions of the table, bits, washers.
                </p>

                <p>
                    A striker (sometimes called a goalie, mallet or paddle) consists of a simple handle attached
                    to a flat surface that will usually lie flush with the surface of the table. The most common
                    paddles, called "high-tops", resemble small plastic sombreros, but other paddles, "flat-tops",
                    are used with a shorter nub.
                </p>

                <p>
                    Air Hockey pucks are discs made of Lexan polycarbonate resin. Standard USAA and AHPA-approved
                    pucks are yellow, red, and green. In competitive play, a layer of thin white tape is placed
                    on the face-up side. Air Hockey pucks come in circles and other shapes (triangle, hexagon,
                    octagon, or square).
                </p>

                <div>
                    <figure>
                        <img src="#" alt="A group of five air hockey pucks" />
                        <figcaptio>
                            A group of five air hockey pucks
                        </figcaptio>
                    </figure>
                </div>

                <p>
                    Air Hockey pucks are discs made of Lexan polycarbonate resin. Standard USAA and AHPA-approved
                    pucks are yellow, red, and green. In competitive play, a layer of thin white tape is placed
                    on the face-up side. Air Hockey pucks come in circles and other shapes (triangle, hexagon,
                    octagon, or square). Four-player tables also exist, but they are not sanctioned for
                    competitive play.
                </p>

                <div>
                    <h2>
                        Gameplay
                    </h2>
                </div>

                <p>
                    Competitive (tournament) play is usually distinquished by the follwoing:
                </p>

                <ul>
                    <li>
                        The mallet is gripped behind the knob using one's fingertips, not on top of it. This
                        allows more wrist action and helps the player to move the striker around the table
                        faster.
                    </li>
                    <li>
                        For basic defense, the mallet is kept centered at least 8 inches out from the goal.
                        In this position, very slight movements to the left and right will block virtually
                        all straight shots. To block bank shots, one pulls back quickly to the corners of
                        the goal. This is known as the "triangle defense".
                    </li>
                    <li>
                        Shots are often hit out of "drifts", where the puck travels in set patterns designed
                        to throw off the opponent's expectations and timing. The most popular drifts are the
                        "center", "diamond", "diagonal", and "L".
                    </li>
                    <li>
                        Shots are often organized into meaning groups of shots which are hit with the same
                        apparent delivery but opposite directions, caused by hitting the puck at slightly
                        different locations on the striker. For example, a transverse motion of the right
                        arm can lead to a "cut shot" to the left corner of the opponent's goal or a
                        "right wall under" (bank off the right wall, into the right corner of the opponent's
                        goal).
                    </li>
                </ul>

                <div>
                    <h2>
                        History
                    </h2>
                </div>

                <p>
                    Air hockey is a game resting on an older technology, the air table. Air tables began as a
                    conveyor technology allowing heavy objects like cardboard boxes to easily slide over a
                    table surface. The original air tables of the 1940s had rather large holes that were
                    plugged by ball bearings. An object sitting on the table would depress the balls,
                    allowing air to escape and lift the object slightly off the table.
                </p>

                <p>
                    By 1967, this had been refined and repurposed as a tool for teaching elementary physics.
                    The table top was a sandwich of fiberboard or plexiglass sheets separated by a honeycomb
                    structure. The top surface was drilled with a grid of small holes, and the space between
                    the boards was supplied with low-pressure compressed air, just enough to allow "air pucks"
                    to float over the surface. While these air tables were fun to play with, they were not
                    yet a game.
                </p>

                <p>
                    In 1968, Sega released an arcade electro-mechanical game similar to air hockey, MotoPolo.
                    Based on polo, two players moved miniature motorbikes around inside a cabinet, with each
                    player attempting to knock the balls into the opponent's goal. It also used an 8-track
                    player to play back the sounds of the motorbikes.
                </p>

                <p>
                    Air hockey was created by a group of Brunswick Billiards employees from 1969 to 1972.
                    In 1969, a trio of Brunswick engineers – Phil Crossman, Bob Kenrick and Brad Baldwin
                    – began work on creating a game using a low-friction surface. The project stagnated
                    for several years until it was revived by Bob Lemieux, who then focused on implementing
                    an abstracted version of ice hockey, with a thin disc, two strikers and slit-like goals
                    equipped with photodetectors. It was then decided that the game might appeal to a larger
                    market and air hockey was marketed and sold to the general public. The original patents
                    reference Crossman, Kendrick and Lemieux as well as earlier work on air tables.
                </p>

                <p>
                    The game was an immediate financial success and by the mid-1970s there arose substantial
                    interest in tournament play. As early as 1973, players in Houston had formed the Houston
                    Air Hockey Association, and soon thereafter, the Texas Air-Hockey Players Association,
                    codifying rules and promoting the sport through local tournaments at Houston pubs Carnabys,
                    Damians, and the University of Houston. To ensure uniform play standards of the highest
                    competitive quality, the United States Air-Table Hockey Association (USAA) was formed in
                    1975 by J. Phillip "Phil" Arnold, largely as an official sanctioning body. In this way,
                    non-player friendly rules imposed by Brunswick corporation were rendered void, and the
                    sport of air hockey was secured under the control of players since that time. Since its
                    inception, the USAA has sanctioned at least one national-level or World championship
                    each year, crowning 12 different champions over 30 years. In March 2015, the Air Hockey
                    Players Association (AHPA) was announced and is providing air hockey players with an
                    additional organization also overseeing the sport of air hockey. The two organizations
                    run independently but abide by a similar set of rules and share many of the same players.
                    In July 2015, the AHPA crowned not only its first world champion but also the youngest
                    in the history of the sport in Colin Cummings of Beaumont, TX. Today, professional air
                    hockey is played by a close-knit community of serious players around the world, with
                    extensive player bases near Houston, San Francisco, Sacramento, Los Angeles, San Diego,
                    Denver, Chicago, New York City, Boise, and Boston in the United States of America,
                    Barcelona in Spain, Saint Petersburg, Moscow, and Novgorod in Russia. and Most and Brno
                    in the Czech Republic. From the late 1980s, Caracas, Venezuela served as a hotbed of
                    activity; three-time World Champion Jose Mora and other finalists originated from there.
                    By 1999 most of the Venezuelan activity had disappeared.
                </p>

                <div>
                    <h2>Competitive air hockey</h2>
                </div>

                <div>
                    <h4>USAA World Championships</h4>
                </div>


                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champions</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>
                    <tr>
                        <td>1978</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                        <td>Rolf Moore</td>
                    </tr>
                    <tr>
                        <td>1979</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                        <td>Joe Campbell</td>
                    </tr>
                    <tr>
                        <td>1980</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                        <td>Joe Campbell</td>
                    </tr>
                    <tr>
                        <td>1980</td>
                        <td>Jesse Douty</td>
                        <td>Robert Hernandez</td>
                        <td>Mark Robbins</td>
                    </tr>

                    <tr>
                        <td>1981</td>
                        <td>Bob Dubuissony</td>
                        <td>Paul Burger</td>
                        <td>Jesse Douty</td>
                    </tr>
                    <tr>
                        <td>1981</td>
                        <td>Jesse Douty</td>
                        <td>Bob Dubuisson</td>
                        <td>Paul Marshall</td>
                    </tr>
                    <tr>
                        <td>1982</td>
                        <td>Jesse Douty</td>
                        <td>Mark Robbins</td>
                        <td>Bob Dubuisson</td>
                    </tr>
                    <tr>
                        <td>1983</td>
                        <td>Bob Dubuisson</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                    </tr>
                    <tr>
                        <td>1984</td>
                        <td>Mark Robbins</td>
                        <td>Robert Hernandez</td>
                        <td>Bob Dubuisson</td>
                    </tr>
                    <tr>
                        <td>1985</td>
                        <td>Bob Dubuisson</td>
                        <td>Robert Hernandez</td>
                        <td>Vince Schappell</td>
                    </tr>
                    <tr>
                        <td>1985</td>
                        <td>Bob Dubuisson</td>
                        <td>Robert Hernandez</td>
                        <td>Mark Robbins</td>
                    </tr>
                    <tr>
                        <td>1986</td>
                        <td>Robert Hernandez</td>
                        <td>Bob Dubuisson</td>
                        <td>Mark Robbins</td>
                    </tr>
                    <tr>
                        <td>1986</td>
                        <td>Mark Robbins</td>
                        <td>Bob Dubuisson</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1987</td>
                        <td>Robert Hernandez</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                    </tr>
                    <tr>
                        <td>1987</td>
                        <td>Jesse Douty</td>
                        <td>Mark Robbins</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1988</td>
                        <td>Jesse Douty</td>
                        <td>Bob Dubuisson</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1988</td>
                        <td>Jesse Douty</td>
                        <td>Bob Dubuisson</td>
                        <td>Joe Campbell</td>
                    </tr>
                    <tr>
                        <td>1989</td>
                        <td>Tim Weissman</td>
                        <td>Bob Dubuisson</td>
                        <td>Jesse Douty</td>
                    </tr>
                    <tr>
                        <td>1989</td>
                        <td>Tim Weissman</td>
                        <td>Jesse Douty	</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1990</td>
                        <td>Tim Weissman</td>
                        <td>Jesse Douty	</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1990</td>
                        <td>Tim Weissman</td>
                        <td>Phil Arnold</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    @*Section 2*@
                    <tr>
                        <td>1991</td>
                        <td>Tim Weissman</td>
                        <td>Mark Robbins</td>
                        <td>Robert Hernandez</td>
                    </tr>
                    <tr>
                        <td>1991</td>
                        <td>Tim Weissman</td>
                        <td>Jesse Douty</td>
                        <td>Albert Ortiz</td>
                    </tr>
                    <tr>
                        <td>1992</td>
                        <td>Tim Weissman</td>
                        <td>Robert Hernandez</td>
                        <td>Mark Robbins</td>
                    </tr>
                    <tr>
                        <td>1992</td>
                        <td>Tim Weissman</td>
                        <td>Keith Fletcher</td>
                        <td>Vince Schappell</td>
                    </tr>
                    <tr>
                        <td>1993</td>
                        <td>Tim Weissman</td>
                        <td>Andy Yevish</td>
                        <td>Keith Fletcher</td>
                    </tr>
                    <tr>
                        <td>1994</td>
                        <td>John (Owen) Giraldo</td>
                        <td>Mark Robbins</td>
                        <td>Tim Weissman</td>
                    </tr>
                    <tr>
                        <td>1995</td>
                        <td>Billy Stubbs</td>
                        <td>Wil Upchurch</td>
                        <td>Don James</td>
                    </tr>
                    <tr>
                        <td>1996</td>
                        <td>Tim Weissman</td>
                        <td>Wil Upchurch</td>
                        <td>Andy Yevish</td>
                    </tr>
                    <tr>
                        <td>1997</td>
                        <td>Wil Upchurch</td>
                        <td>Tim Weissman</td>
                        <td>Jesse Douty</td>
                    </tr>
                    <tr>
                        <td>1999</td>
                        <td>Jose Mora</td>
                        <td>Pedro Otero</td>
                        <td>Jimmy Heilander</td>
                    </tr>
                    @*seciton3*@
                    <tr>
                        <td>2000</td>
                        <td>Jose Mora</td>
                        <td>Pedro Otero</td>
                        <td>Tim Weissman</td>
                    </tr>
                    <tr>
                        <td>2001</td>
                        <td>Danny Hynes</td>
                        <td>Tim Weissman</td>
                        <td>José Mora</td>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Billy Stubbs</td>

                    </tr>
                    <tr>
                        <td>2003</td>
                        <td>Ehab Shoukry</td>
                        <td>José Mora</td>
                        <td>Andy Yevish</td>
                    </tr>
                    <tr>
                        <td>2004</td>
                        <td>Danny Hynes</td>
                        <td>Andy Yevish</td>
                        <td>Anthony Marino</td>
                    </tr>
                    <tr>
                        <td>2005</td>
                        <td>Danny Hynes</td>
                        <td>Billy Stubbs</td>
                        <td>Anthony Marino</td>
                    </tr>
                    <tr>
                        <td>2006</td>
                        <td>Danny Hynes</td>
                        <td>Wil Upchurch</td>
                        <td>Davis Lee</td>
                    </tr>
                    <tr>
                        <td>2007</td>
                        <td>Davis Lee</td>
                        <td>Keith Fletcher</td>
                        <td>Ehab Shoukry</td>
                    </tr>
                    <tr>
                        <td>2008</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Jose Mora</td>
                    </tr>
                    <tr>
                        <td>2009</td>
                        <td>Ehab Shoukry</td>
                        <td>Davis Lee</td>
                        <td>Keith Fletcher</td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td>Davis Lee</td>
                        <td>Billy Stubbs</td>
                        <td>Anthony Marino</td>
                    </tr>
                    @*Section4*@
                    <tr>
                        <td>2011</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Billy Stubbs</td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Billy Stubbs</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>Billy Stubbs</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>Billy Stubbs</td>
                        <td>Ehab Shoukry</td>
                        <td>Tim Weissman</td>
                    </tr>
                    <tr>
                        <td>2013</td>
                        <td>Danny Hynes</td>
                        <td>Davis Lee</td>
                        <td>Pedro Otero</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>Billy Stubbs</td>
                        <td>Davis Lee</td>
                        <td>Danny Hynes</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>Colin Cummings</td>
                        <td>Pedro Otero</td>
                        <td>Danny Hynes</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>Colin Cummings</td>
                        <td>Danny Hynes</td>
                        <td>Brian Accrocco</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>Jacob Weissman</td>
                        <td>Vadim Chizhevskiy</td>
                        <td>Colin Cummings</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>Colin Cummings</td>
                        <td>Vincent Sauceda</td>
                        <td>Jacob Weissman</td>
                    </tr>
                </table>

                <div>
                    <h3>
                        AHPA World Championship
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>2015</td>
                        <td>Colin Cummings</td>
                        <td>Billy Stubbs</td>
                        <td>Brian Accrocco</td>
                    </tr>

                    <tr>
                        <td>2016</td>
                        <td>Colin Cummings</td>
                        <td>Brian Accrocco</td>
                        <td>Doug Howard</td>
                    </tr>

                    <tr>
                        <td>2017</td>
                        <td>Colin Cummings</td>
                        <td>Vincent Sauceda</td>
                        <td>Brian Accrocco</td>
                    </tr>

                    <tr>
                        <td>2018</td>
                        <td>Colin Cummings</td>
                        <td>Vincent Sauceda</td>
                        <td>Danny Hynes</td>
                    </tr>

                    <tr>
                        <td>2019</td>
                        <td>Colin Cummings</td>
                        <td>Vincent Sauceda</td>
                        <td>Keith Fletcher</td>
                    </tr>
                </table>

                <div>
                    <h3>
                        US Championship
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>1983</td>
                        <td>Jesse Douty</td>
                        <td>Mark Robbins</td>
                        <td>Bob Dubuisson</td>
                    </tr>

                    <tr>
                        <td>1984</td>
                        <td>Jesse Douty</td>
                        <td>Phil Arnold</td>
                        <td>Mark Robbins</td>
                    </tr>

                    <tr>
                        <td>1998</td>
                        <td>José Mora</td>
                        <td>Pedro Otero</td>
                        <td>Tim Weissman</td>
                    </tr>

                    <tr>
                        <td>2004</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Don James</td>
                    </tr>

                    <tr>
                        <td>2007</td>
                        <td>Wil Upchurch</td>
                        <td>Davis Lee</td>
                        <td>Keith Fletcher</td>
                    </tr>

                    <tr>
                        <td>2009</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>José Mora</td>
                    </tr>
                </table>

                <div>
                    <h3>
                        European Championship
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Finalist</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>2006
                        (Singles)</td>
                        <td>Goran Mitic</td>
                        <td>Michael L. Rosen</td>
                        <td>José Luis Camacho</td>
                    </tr>

                    <tr>
                        <td>2007
                        (Singles)</td>
                        <td>José Luis Camacho</td>
                        <td>Sergey Antonov</td>
                        <td>Sergio López</td>
                    </tr>

                    <tr>
                        <td>2006
                        (Teams)</td>
                        <td>Spain</td>
                        <td>Czech Republic</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>2007
                        (Teams)</td>
                        <td>Russia</td>
                        <td>Spain</td>
                        <td></td>
                    </tr>
                </table>

                <div>
                    <h3>
                        Texas State Open
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>1998</td>
                        <td>Tim Weissman</td>
                        <td>Jose Mora</td>
                        <td>Tim Weissman</td>
                    </tr>

                    <tr>
                        <td>2000</td>
                        <td>Jose Mora</td>
                        <td>Danny Hynes</td>
                        <td>Jimmy Heilander</td>
                    </tr>

                    <tr>
                        <td>2002</td>
                        <td>Jose Mora</td>
                        <td>Danny Hynes</td>
                        <td>Anthony Marino</td>
                    </tr>

                    <tr>
                        <td>2003</td>
                        <td>Anthony Marino</td>
                        <td>Jose Mora</td>
                        <td>Danny Hynes</td>
                    </tr>

                    <tr>
                        <td>2004</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Anthony Marino</td>
                    </tr>

                    <tr>
                        <td>2005</td>
                        <td>Danny Hynes</td>
                        <td>Ehab Shoukry</td>
                        <td>Anthony Marino</td>
                    </tr>

                    <tr>
                        <td>2007</td>
                        <td>Tim Weissman</td>
                        <td>Vince Schappell</td>
                        <td>Joe Cain</td>
                    </tr>

                    <tr>
                        <td>2008</td>
                        <td>Danny Hynes</td>
                        <td>Jimmy Heilander</td>
                        <td>Syed Rahman</td>
                    </tr>
                </table>

                <div>
                    <h3>
                        Catalan Championship
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>2003</td>
                        <td>Pedro Otero</td>
                        <td>Emilio Araujo</td>
                        <td>Marc García</td>
                    </tr>

                    <tr>
                        <td>2004</td>
                        <td>Marc García[</td>
                        <td>Sergio López</td>
                        <td>José Luis Camacho</td>
                    </tr>

                    <tr>
                        <td>2005</td>
                        <td>José Luis Camacho</td>
                        <td>Sergio López</td>
                        <td>Marc García[</td>
                    </tr>

                    <tr>
                        <td>2006</td>
                        <td>José Luis Camacho</td>
                        <td>Marc García</td>
                        <td>Javi Navarro</td>
                    </tr>

                    <tr>
                        <td>2007</td>
                        <td>Marc García</td>
                        <td>Mauro Sturlese</td>
                        <td>Javi Navarro</td>
                    </tr>

                    <tr>
                        <td>2008</td>
                        <td>Sergio López</td>
                        <td>José Luis Camacho</td>
                        <td>Mauro Sturlese</td>
                    </tr>
                </table>

                <div>
                    <h3>
                        Russian Open
                    </h3>
                </div>

                <table>
                    <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runner-up</th>
                        <th>Third Place</th>
                    </tr>

                    <tr>
                        <td>2006</td>
                        <td>Paulo "The Cannon" Lourenço</td>
                        <td>Igor Masloboe</td>
                        <td>Sergey Grishin</td>
                    </tr>

                    <tr>
                        <td>2007</td>
                        <td>Pedro Beles</td>
                        <td>Sergey Grishin</td>
                        <td>Nikita Vaganov</td>
                    </tr>

                    <tr>
                        <td>2008</td>
                        <td>Cláudio Barimbetche</td>
                        <td>Vadim Chizhevskiy</td>
                        <td>German Vargin</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>