@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <center><h1>Event Planner</h1></center>
    <p>Welcome to the best events website you will ever see on the <b>World Wide Web,</b> here you will
    find all the necassarily and up to date information regarding your favourite events such as racing, soccer, rugby,
    you name it! Even if your not a sports fan we cater the <b>Geek Culture</b> too with our information regarding the Rage Expo
    where it caters all your gaming needs. For further information click on the links below.</p>
</div>

<body>
    <div id="wrap-images">
        <div class="eventimages">
            <img src="~/Images/SPORT_front.jpg" id="sportimage1" alt="sprt">
        </div>

        <div class="eventimages">
            <img src="~/Images/car_cover.jpg" id="sportimage2" alt="car">
        </div>

        <div class="eventimages">
            <img src="~/Images/rAge.jpg" id="sportimage3" alt="rage">
        </div>
    </div>

</body>