@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BYOC LAN</title>
</head>
<body>
    <div>
        <center><h1>SA's Biggest BYOC LAN Event is Back and Better Than Ever!!!</h1></center>
    </div>
    <br />

    <center><p>A ticket for the event will be available from Howler.com.</p></center>
    <br />

    <h2>What could it be?</h2>
    <p><b>BYOC</b>-Bring Your Own Computer.</p>
    <p><b>LAN</b>-Local Area Network.</p>
    <br />

    <p>
        This event is South Africa's largest three-day twenty-four-hour gaming paradise. This is a unique event where
        the real world and the virtual online world combine for an amazing weekend where hundreds of players come together
        to share thier passions, Long-time online friends will finally meet each other as well as new friendships and
        memories will be made.
    </p>
    <br />

    <h2>NAG BYOC LAN Partnerships:</h2>
    <ul>
        <li>Internet Provider - Clear Access/Neutrino</li>
        <li>Network Provider - My Sky Networks</li>
        <li>Server Provider - Nutanax</li>
    </ul>
    <br />

    <h2>What Will This Ticket Grant You:</h2>
    <ul>
        <li>A comfy chair and a shared table for two people.</li>
        <li>Two dedicated plug outlets for your PC, Console or Monitor.</li>
        <li>An excellent internet connection.</li>
        <li>Network Infrastructure which will include one network cable.</li>
        <li>An access to the rAge Expo for the all three days.</li>
        <li>
            <b>Disclaimer</b>-Bring your own gaming rig(PC, Monitor, Console, Laptop, Keyboard, Mouse and
            Headphones).
        </li>
    </ul>
    <br />

    <p>Since we are celebrating our 20th Anniversary the ticket will also grant you:</p>
    <ul>
        <li>One free day pass to the rAge Expo that you could give to family or friends.</li>
        <li>
            A R200 Voucher for <b>Incredible Connection</b> which can also be used at thier stand at the rAge Expo
            over the weekend.
        </li>
    </ul>
    <br />

    <h2>Ticket Options:</h2>
    <ul>
        <li>NAG BYOC LAN General Pass - R1050 PER person.</li>
        <li>NAG BYOC LAN Super Pass - R1400 PER person.</li>
    </ul>
    <br />

    <p>
        <i>NAG BYOC LAN General Pass</i> is the normal three day LAN ticket that will grant you into the event from
        <b>7AM</b> on Friday to <b>3PM</b> on Sunday.
        The<i>NAG BYOC LAN Super Pass</i> is the 4 day LAN ticket that will grant you access into the event from
        <b>6PM</b> on Thursday to <b>3PM</b> on Sunday.
    </p>
    <br />

    <center><h2>DISCLAIMER</h2></center>
    <p>
        Ticket sale are limited to 2 tickets PER person and there is no reserved seating even with the General Pass or
        Super Pass visitors. The seating is on a <b>first come first serve</b> basis for ALL participents.
    </p>
</body>
</html>
