@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prizes</title>
</head>
<body>
    <div>
        <h1>ABSA Gaming Festival Brings The Heat!!!!</h1>
    </div>

    <p>
        The ABSA gaming Festival will take place in a seven week period where <b>Pros and Filthy Casuals</b>
        can partake in an Epic High stakes tournament where the winner will take home <b>R60 000 in cash</b> grand prize
        also with additional giveaways valued over to R50 000.
    </p>
    <img src="~/Images/comp1.jpg" alt="ragesec" style="height:100px;width:100px">
    <br />

    <p>
        Sponsored by ABSA, rAge Expo and ACGL(African Cyber Gaming League) will offer variuos games to
        partake in such as <b>FIFA 2022, Fortnite, Apex Legends</b> or even a Best Plays Tournament to also win
        their share of the prize pool.
    </p>
    <img src="~/Images/comp2.jpg" alt="ragesec" style="height:100px;width:100px">
    <br />

    <center><h1>Prize Details</h1></center>
    <h2>Fortnite</h2>
    <ul>
        <li>1st Place: R10 000</li>
        <li>2nd Place: R5 000</li>
        <li>3rd Place: R2 000</li>
        <li>4th Place: R1000</li>
        <li>5-8th Place: R500</li>
    </ul>
    <br />

    <h2>FIFA 22</h2>
    <ul>
        <li>1st Place: R10 000</li>
        <li>2nd Place: R5 000</li>
        <li>3rd Place: R2 000</li>
        <li>4th Place: R1000</li>
        <li>5-8th Place: R500</li>
    </ul>
    <br />

    <h2>Apex Legends</h2>
    <ul>
        <li>1st Place: R10 000</li>
        <li>2nd Place: R5 000</li>
        <li>3rd Place: R2 000</li>
        <li>4-6th Place: R1000</li>
    </ul>
    <br />

    <center><h1>Best Plays</h1></center>
    <p>
        Best Plays will offer R11 000 cash prize for anyone that is not participating in the main tournament.
        Here are the details needed to enter:
    </p>
    <br />

    <ul>
        <li>1: Play your favourite game.</li>
        <li>2: Record your Best Play in that game.</li>
        <li>3: Upload the video to Twitter with your own caption and hashtag <b>#ABSAbestplay</b>.</li>
    </ul>
    <br />

    <ul>
        <li>1st Prize: Xbox Series S 500GB and wireless controller Bluetooth black and Xbox Gold Pass.</li>
        <li>2nd Prize: Xbox Gold Pass.</li>
        <li>3rd Prize: R1000 voucher from Steam or PS Store.</li>
    </ul>
    <br />

    <img src="~/Images/fortnite.jpg" alt="nite" style="height:100px;width:100px">
    <img src="~/Images/fifa.jpg" alt="soccer" style="height:100px;width:100px">
    <img src="~/Images/apex.jpg" alt="legend" style="height:100px;width:100px">

    <p>To find out more on how to register visit www.acgl.co.za/absagaming</p>

</body>
</html>

