@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tech and Business</title>
</head>
<body>
    <div>
        <center><img src="~/Images/rage text.jpg" alt="text" style="height:500px;width:900px"></center>
    </div>
    <br />

    <h1>rAgeX Conference</h1>
    <p>
        rAge has shown to be a safe haven for the Geek fandom and regarding the latest news in gaming and technology
        for the past two decades but this year we plan to do something different that not even modern businesses can't
        afford to miss out on.
        Obviously the rAge Expo will be held Gallagher Convention Centre in the real world but our true destination will
        be the Metaverse. Our rAgeX Conference will take place on 9 December 2022 and it will assist newcomers to come to grips
        the universal and immersive virtual world which is helping companies around the world to connect with thier clients
        in a deeper and more meaningful way. At the Conference we won't be just covering the Metaverse we will also assist
        attendees to discover the wonderful benefits of Virtual Reality, AI, Big Data, Machine Learning, Algorithms and
        Funcionalities of TikTok, Crypto Currencies, Internet of Things and so much more.
    </p>
    <br />

    <p>
        With about 36 speakers over 8 sessions and even 6 panel discussions, conference attendees will leave with a vast
        knowledge with the techs that are changing our world for the better and also how to weild for business and personal
        success.
        "Now is the time for South African Businesses to start exploring the Metaverse along with web3 technologies
        and thier opprotunities that follow. The current trajectory with technology stocks and crypto currencies actually
        remind us alot of the dot-com boom when big companies like Facebook and Amazon emerged after a few ventures failed",
        said keynote speaker Rutger Jan van Spaandok. "At the rAgeX Conference we'll look at the major trends in this space
        and hopefully help you pick the winners of the next internet iteration."
    </p>
    <br />

    <p>The <b>Future</b> is here, join in on the Conference today and not let your business be left behind!!!</p>
    <p>Tickets for the conference also grant access for the expo, go online to Howler.com to purchase and join today.</p>
</body>
</html>
