@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "WorldEndurance";
}
<head>
    <link rel="Stylesheet" href="~/Content/WorldEndurance.css" type="text/css" />
    @Styles.Render("~/Content/WorldEndurance.css");
</head>

<div class="body">
    <div id="myDiv">
        <div id="mypre">
            <h2><b>What is World Endurance Championship</b></h2>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/WorldEndurance1.jpg" class="imgclick">
                        <img src="~/Images/Photos/WorldEndurance1.jpg" alt="World endurance" class="f1h" style="width: 450px; height: 250px; " />
                    </a>
                </figure>
            </div>
            <p class="text">
                The FIA WEC is a fully-fledged FIA World Championship that holds races around the globe. The starting line-ups can often include more than
                thirty cars in four different categories. At Le Mans, there are even up to sixty cars. Factory entries from Toyota and Glickenhaus in Hypercar and
                Ferrari and Porsche in LMGTE-Pro compete with privateer teams from all four classes.The key to the WEC is in the name – endurance.
                The races this season range from six hours at circuits such as Spa-Francorchamps, Fuji and Monza to eight hours at Bahrain or Sebring and
                24 hours at the season highlight at Le Mans. This makes it possible to develop a real strategy and demands a lot from the teams.
                <br />
                Cars that are on pole or fast in the early stages of the race do not always have to be at the front in the later stages of the race.
                This is not least due to the fact that the time period offers a lot of room for weather changes and temperature fluctuations.
                Another factor is leaving the driver’s seat and handing over to a teammate. The key to success lies in the race strategy.
            </p>
            <h2><b>History of World Endurance Championship</b></h2>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/WorldEndurance2.jpg" class="imgclick">
                        <img src="~/Images/Photos/WorldEndurance2.jpg" alt="World endurance" class="f1h" style="width: 450px; height:250px;" />
                    </a>
                </figure>
            </div>
            <p class="text">
                The desire to race remained. In 1906, the Automobile Club de France held the first-ever grand prix
                on closed public roads around the city of Le Mans. Modern motor racing was born. This sparked an explosion of interest in track-based racing,
                with circuits such as Brooklands, Indianapolis and Monza built before the start of the first world war.
                On-track battles in those early days of circuit racing weren’t much different to the modern-day equivalent.
                Mercedes-Benz, Ferrari, Alfa Romeo and Bentley all built their brands by putting their automotive technology to the test
                and racing their peers.
            </p> 
            <p class="text">
                The breakthrough in terms of organised endurance racing came in 1923, with the inaugural 24 Heures du Mans, or Le Mans 24 Hours.
                It would mark the start of almost 100 years of endurance racing history around the Circuit de la Sarthe,
                and the first running of the race that is, of course, today part of the FIA World Endurance Championship.
                The common pattern at Le Mans is for one manufacturer to bring its latest automotive development to the race and dominate
                for a number of years, before another manufacturer takes up the mantle and cements its place in endurance racing history.
                <div class="formula-2">
                    <figure class="figcaption">
                        <a target="_blank" href="~/Images/Photos/Le Mans Racing Track.jpeg" class="imgclick">
                            <img src="~/Images/Photos/Le Mans Track.jpg" alt="World endurance" class="f1h" style="width: 450px; height:250px;" />
                        </a>
                    </figure>
                </div>
            </p>
            <p class="text">
                The 1920s undoubtedly belonged to Bentley, with four successive wins from 1927 to 1930, with Alfa Romeo then making its mark on the
                twice-round-the-clock classic with its own four wins in succession in the 1930s. After the war, the Le Mans 24 Hours
                cemented its place as one of the most prestigious prizes in motorsport. The advent of the World Sportscar Championship in 1953,
                which combined the most popular sportscar events of the era, the Le Mans 24 Hours, the Mille Miglia, the 12 Hours of Sebring,
                the 24 Hours of Spa and the 1000km of the Nürburgring, only accelerated the process.
            </p>
            <p class="text">
                These races not only provided the ultimate test bed for automotive constructors, they also offered a platform to advertise their products.
                The motto “win on Sunday, sell on Monday” still holds to this day. Driver aids that most of us now take for granted, such as headlamps,
                windscreen wipers and disc brakes, were all first trialled in sportscar racing. Continuing the theme of domination,
                the 1950s undoubtedly belonged to Jaguar and Mercedes-Benz, each of which recorded championship victories.
            </p>
            <p class="text">
                In fact, the level of prestige on offer for winning the World Sportscar Championship even attracted new manufacturers
                to the fold in a bid to prove their superiority over rival manufacturers.
                After years of Ferrari domination at Le Mans and in the WSC in the early 1960s, Henry Ford was said to be sick of “those bloody red cars”
                and so sent an army of specially engineered GT40s to take endurance racing’s richest prize to the United States for
                the first time in 1966. The 1970s marked the arrival of a manufacturer that turned winning in sportscar racing
                into an absolute art form: Porsche. The German manufacturer won a record-breaking sixteen times at Le Mans and
                has fifteen World Sportscar Championship titles to its name. Porsche 917s, 935s and 936s went down in history as
                some of the most successful sportscars ever, playing a major part in establishing the Porsche brand.
            </p>
            <p class="text">
                Despite resurgence from French manufacturer Matra in the mid-1970s, bringing France its first ever World Sportscar Championship title and
                the first victories at Le Mans since 1950, Porsche’s domination continued into the 1980s.
            </p>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/Porche Le Mans.jpg" class="imgclick">
                        <img src="~/Images/Photos/Porche Le Mans.jpg" alt="World endurance" class="f1h" style="width: 450px; height:250px;" />
                    </a>
                </figure>
            </div>
            <p class="text">
                The introduction of the FIA Group C regulations in 1982 heralded the start of what would later be described as sportscar racing’s golden era.
                At the peak of Group C racing, its popularity was arguably on a par with Formula 1. Porsche continued to dominate the series,

                with its 956 and 962 models sweeping up victory after victory in the hands of privateers such as Brun Motorsport and Joest Racing.
                It took until 1987 for another manufacturer to break Porsche’s stranglehold on world sportscar racing: Jaguar.
                By the late-1980s, the World Sportscar Championship was a truly global affair with races in Japan,
                Mexico and Australia alongside more familiar events at Spa, Le Mans and Brands Hatch.
                The competitors came from all four corners of the world, too, with the likes of Nissan, Toyota, Peugeot and Sauber-Mercedes
                joining Porsche and Jaguar in the top tier of sportscar racing. In the mid-1990s, the FIA introduced a common 3.5-litre
                engine formula to Formula 1 and the World Sportscar Championship. The move proved deeply unpopular among manufacturers
                and the engines were too expensive for privateers, ultimately leading to the downfall of Group C racing and
                the end of the World Sportscar Championship. The absence of a truly global endurance racing series lasted almost
                two decades, with manufacturers forced to seek alternatives such as the American Le Mans Series (formed in 1999;
                Audi competed throughout the 2000s) and the Le Mans Series (a European-based series that transformed into the
                European Le Mans Series with the advent of the FIA WEC) in which to race.
            </p>
            <p class="text">
                ith arch-rivals Audi and Peugeot battling tooth and nail at Le Mans from 2007 to 2011, interest in a global sportscar championship returned.
                Launched in 2010, the Intercontinental Le Mans Cup was a “toe in the water” for the Automobile Club d’Ouest and the FIA and represented
                a successful attempt to bring together LMP1’s top two manufacturers, Audi and Peugeot, in a full-year sportscar series rather than
                just once a year at Le Mans.
            </p>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/Le mans car.jpg" class="imgclick">
                        <center>
                            <img src="~/Images/Photos/Le mans car.jpg" alt="World endurance" class="f1h" style="width: 450px; height:250px;" />
                        </center>
                    </a>
                </figure>
            </div>
            <p class="text">
                The result was a slightly convoluted three-round championship combining the ALMS race Petit Le Mans at Road Atlanta with new
                destinations of Zhuhai in China and Silverstone. The second season of the ILMC saw a much beefed-up calendar with seven
                rounds across the world, from the 12-hour race at Sebring in March (in conjunction with the ALMS) to a 6-hour finale at Zhuhai in November.
                Crucially, the 24 Hours of Le Mans became a championship race for the first time since 1992, with double championship points on offer for
                the victors. It took 20 years for the FIA and ACO to put aside their differences and agree on a way forward. The 2011 season heralded the
                start of a new era,
            </p>
            <p class="text">
                with the two organisations joining forces to launch a new world championship for prototypes and sports cars. The result was the
                World Endurance Championship, whose inaugural season took place in 2012. Both parties appeared to learn from their mistakes,
                providing a level playing field where the automotive industry could show off the latest technology. There was considerable
                regulatory freedom, ensuring that manufacturers could pursue the direction of development they desired.
            </p>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/Le Mans 2018 Championship.jpg" class="imgclick">
                        <img src="~/Images/Photos/Le Mans 2018 Championship.jpg" alt="Le Mans Hypercar" class="f1h" style="width: 450px; height:250px;" />
                    </a>
                </figure>
            </div>
            <p class="text">
                After a slow start attracting new manufacturers, soon the WEC was one of the most popular championships in the motor racing world.
                Numerous manufacturers joined the top prototype class, with a significant factory presence in GTE too. Audi were soon joined by Toyota,
                before Porsche returned to prototype racing after a 15-year break. A short-lived Nissan factory effort took the number of full manufacturer
                teams in LMP1 to four in 2015. Then came Dieselgate… The scandal involving the VW Group saw Audi withdrawits diesel-powered LMP1 cars at
                the end of the 2016 season. Nissan would abandon its programme midway through 2015,
            </p>
            <p class="text">
                leaving just two manufacturers in the championship from 2017. Porsche, too, pulled the plug on its LMP1 effort one year later,
                despite three manufacturers’ titles in succession. Toyota remained the only ever-present in the LMP1 class until the final season
                of LMP1 racing in 2019/2020. The Japanese manufacturer and went on to play a major role in developing a new set of regulations together
                with the WEC and ACO.
            </p>
            <div class="formula-2">
                <figure class="figcaption">
                    <a target="_blank" href="~/Images/Photos/Aston Martin Le Mans.jpg" class="imgclick">
                        <img src="~/Images/Photos/Aston Martin Le Mans.jpg" alt="Le Mans Hypercar" class="f1h" style="width: 450px; height:250px;" />
                    </a>
                </figure>
            </div>
            <p class="text">
                The new Le Mans Hypercar (LMH) ruleset came into force for the 2021 season, continuing the LMP1 legacy with a bit of a twist.
                The LMGTE Pro class has long been the second pillar of works competition in the WEC. Held every year since 2012, the class
                attracted works or semi-works entries from the likes of Aston Martin, Ferrari and Porsche on a regular basis.
            </p>
            <p class="text">
                However, as with LMP1, 2016 would prove to be a golden era for the category. Ford announced their return to Le Mans, 60 years after
                sweeping the overall podium at the race. The Ford GT would compete in the LMGTE Pro class. Then, in 2018, BMW took the bait and returned to
                the category for the first time since 2011. With a pair of Corvettes and additional Porsche  factory entries from the USA, the LMGTE Pro ranks
                at Le Mans swelled to 13 for the 2018 24 Hours of Le Mans. With so much interest in the class, the FIA decided to award a world championship
                for GT cars alongside the world championship for prototypes. This was the first time two world titles were up for grabs in one championship. However,
                LMGTE Pro also reached its peak.
            </p>
            <p class="text">
                The 2018/2019 Super Season proved to be the only season of BMW works participation. Ford’s GTE Pro programme also came to its scheduled end at the
                conclusion of the 2019 season. The 2019/2020 season took over a full calendar to complete on account of the COVID-19 pandemic, stretching many
                competitors’ budgets to breaking point. What’s more, with the new LMH class specifically aimed at GT manufacturers, the remained a significant
                question mark over the GTE Pro class. Internal machinations at Aston Martin saw the British marque withdraw its LMGTE Pro factory effort at the end
                of 2020. This left Ferrari and Porsche as the sole “factory” competition in the class. LMGTE Pro appears to be reaching the end of its lifetime, and
                the ACO and WEC will be hard at work rethinking the category for future seasons.
            </p>
        </div>
        <button type="button" class="button button" onclick="location.href ='@Url.Action("Index","Home")'">Back</button>
    </div>
</div>



