/* Drop down menu */
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .hamburger span:nth-child(1) {
        margin-top: 5px;
    }

    .hamburger span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
    }

input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
}

    input[type="checkbox"]:checked ~ button {
        background-color: darkgray;
    }

.drop {
    position: absolute;
    top: 70%;
    right: 0;
    width: 200px;
    height: 0px;
    overflow: hidden;
    background: #bebebe;
    transition: all .2s ease;
}

input[type="checkbox"]:checked ~ .drop {
    height: auto;
    text-align: center;
}

#window-area {
    position: absolute;
    margin: auto auto auto auto;
    text-align:center;
}

#wrap-popup-window-area {
    display:block;
    position: absolute;
    margin: 260px 600px auto -620px;
    border: 1px solid black;
    width: 300px;
    background-color: lightgray;
    z-index: 4;
}

#form-input {
    padding: 0px 0px 0px 0px;
    text-align: center;
    height: 100px;
}

#button-block {
    position:absolute;
    right: 40px;
    height: auto;
}
#button-block a {
    text-decoration: none;
    color:black;
}

#form-incline-element {
    margin: auto auto auto auto;
    padding: 0px 0px 0px 0px;
    height: 70px;
    width: inherit;
}

#code-text-label {
    margin: 0px 0px 0px 0px;
    position: absolute;
    max-width: 200px;
    left: 80px;
}

#submit-input {
    position: absolute;
    
    right: 76px;
    height: auto;
}
