* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    font-family: Arial;

}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: auto;
    background-color: #eae8e8;
}

#wrap-Content {
    display:flex;
    background-color: lightgray;
    height: auto;
    padding: -25px 30px 0px 30px;
    border: 1px solid black;
    overflow-x:hidden;
    overflow-y:hidden;
}

#heading{
    text-align:center;
    border-bottom: 2px solid;
    margin-bottom: 6px;
}

#images {
    position: static;
    float: right;
}

figure {
    background-color:grey;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

#images1 {
    position: static;
    float: left;
}

img {
    height: 200px;
    width:fit-content;
}
.imgs {
    text-align: center;
}
h2,h3 {
    text-align: left;
    text-decoration: underline;
}

#images2 {
    display: inline-flex;
}
#images5 {
    display: inline-flex;
}
#images7 {
    display: inline-flex;
}

figcaption {
    margin: auto auto auto auto;
    width: 150px;
    color: white;
}

#Hockey-heading {
    font-weight: 500;
}

#wrap-Tennis-History-Content {
    margin: 0px 40px 0px 40px;
}

.indent-paragraph {
    margin: 0px 30px 0px 30px;
}

ul {
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 60px;
    text-align: left;
}
 
.no-styles {
    list-style:none;
}

p {
    margin: 0px 20px 0px 20px;
    text-align: left;
}
table {
    margin: auto auto auto auto;
    border: 2px solid black;
}

tr {
    border: 2px solid black;
    width: 500px;
    height: auto;
}
th {
    text-align: center;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
}

td {
    text-align: center;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
    width: auto;
    height: auto;
}
footer p{
    text-align:center;
}